[Unit]
Description=Encore watch service

[Service]
ExecStart=/usr/bin/yarn encore dev -w
User=apache
WorkingDirectory=/var/www/jinya

[Install]
WantedBy=multi-user.target