<div class="ui steps">
    <div class="{% if activeStep == 0 %}active {% endif %}step">
        <i class="cogs icon"></i>
        <div class="content">
            <div class="title">{{ 'install.steps.config'|trans }}</div>
        </div>
    </div>
    <div class="{% if activeStep == 1 %}active {% endif %}step">
        <i class="database icon"></i>
        <div class="content">
            <div class="title">{{ 'install.steps.database_creation'|trans }}</div>
        </div>
    </div>
    <div class="{% if activeStep == 2 %}active {% endif %}step">
        <i class="user icon"></i>
        <div class="content">
            <div class="title">{{ 'install.steps.admin'|trans }}</div>
        </div>
    </div>
</div>