@include breakpoint-desktop {
  :root {
    font-size: $font-size-desktop;
  }
}

@include breakpoint-tablet-landscape {
  :root {
    font-size: $font-size-tablet-landscape;
  }
}

@include breakpoint-tablet-portrait {
  :root {
    font-size: $font-size-tablet-portrait;
  }
}

@include breakpoint-mobile {
  :root {
    font-size: $font-size-mobile;
  }
}

@include breakpoint-ultra-mobile {
  :root {
    font-size: $font-size-ultra-mobile;
  }
}

body {
  margin: 0;
}

div {
  position: relative;
}

img {
  border: 0 solid transparent;
}

*, *:after, *:before {
  box-sizing: border-box;
}

textarea {
  padding: 0;
}