/**
 * Colors
 */
$color-lighter-percentage: 25% !default;
$color-darker-percentage: 25% !default;
$primary: #177 !default;
$secondary: #711 !default;

$primary-lighter: lighten($primary, $color-lighter-percentage);
$primary-darker: darken($primary, $color-darker-percentage);

$secondary-lighter: lighten($secondary, $color-lighter-percentage);
$secondary-darker: darken($secondary, $color-darker-percentage);

$white: #fff !default;
$black: #000 !default;

$success-color: #009400 !default;
$success-text-color: $success-color !default;
$success-background-color: pastelize($success-color) !default;

/** Social **/
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-pinterest: #bd081c;
$color-tumblr: #35465c;
$color-deviant-art: #c5d200;
$color-patreon: #f96854;
$color-youtube: #ff0000;
$color-instagram: #f46040;

$pastelize-enabled: true !default;
$background-opacity: 1 !default;

/**
 + Typography
 */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-heading: $font-family !default;
$font-size-desktop: 16px;
$font-size-tablet-landscape: 14px;
$font-size-tablet-portrait: 12px;
$font-size-mobile: 10px;
$font-size-ultra-mobile: 10px;

/**
 + Breakpoints
 */
$breakpoint-ultra-mobile-max-width: 639px;

$breakpoint-mobile-min-width: 640px;
$breakpoint-mobile-max-width: 1199px;

$breakpoint-tablet-portrait-min-width: 1200px;
$breakpoint-tablet-portrait-max-width: 1439px;

$breakpoint-tablet-landscape-min-width: 1440px;
$breakpoint-tablet-landscape-max-width: 1919px;

$breakpoint-desktop-min-width: 1920px;

/**
 * Margins
 */
$body-frontend-margin-top: 5rem !default;

$body-frontend-margin-top-mobile: $body-frontend-margin-top / 2 !default;

$body-frontend-margin-top-tablet-portrait: $body-frontend-margin-top / 2 !default;

/**
 * Elements
 */
$figure-caption-color: $primary !default;
$figure-caption-font-size: 1.2rem !default;
$figure-caption-font-family: $font-family-heading !default;

/**
 * Menu
 */
$menu-enable-blurr: false !default;

$menu-width: 20rem !default;
$menu-border-radius: 1rem !default;
$menu-font-family: $font-family !default;

/** Colors **/
$menu-background-color: $primary-lighter !default;
$menu-text-color: $primary-darker !default;

/** Margins **/
$menu-margin-top: $body-frontend-margin-top;
$menu-margin-left: 5rem !default;
$menu-margin-top-mobile: $menu-margin-top / 2 !default;
$menu-margin-left-mobile: $menu-margin-left / 2 !default;

$menu-margin-top-tablet-portrait: $menu-margin-top / 2 !default;
$menu-margin-left-tablet-portrait: $menu-margin-left / 2 !default;

/** Title **/
$menu-title-padding: 0 1.2rem !default;

/** Logo **/
$menu-logo-margin: 1.7rem !default;
$menu-logo-opacity: 0.8 !default;
$menu-logo-size: $menu-width - $menu-logo-margin * 2 !default;

/** Social bar **/
$menu-social-bar-padding: 0.5rem 1.2rem !default;
$menu-social-bar-margin-top: 1rem !default;

/** Menu items **/
$menu-item-uppercase: true;
$menu-item-padding-left: 3rem !default;

$menu-item-hover-background: $primary !default;

$menu-item-link-padding: 0.3rem 1.2rem !default;
$menu-item-link-background: rgba(255, 255, 255, 0.2) !default;
$menu-item-link-letter-spacing: 1px !default;

$menu-item-highlighted-font-size: 120% !default;
$menu-item-highlighted-font-weight: bold !default;
$menu-item-highlighted-font-style: normal !default;
$menu-item-highlighted-font-family: $menu-font-family !default;

$menu-item-blurred-text-shadow-color: $white !default;
$menu-item-blurred-text-shadow-blur-radius: 0.625em !default;

$menu-item-unblurred-text-shadow-color: transparentize($primary, 0.4) !default;
$menu-item-unblurred-text-color: $primary !default;
$menu-item-unblurred-text-shadow-blur-radius: 0.625em !default;

/** Ultra mobile full screen menu **/
$menu-ultra-mobile-claim-color: $white !default;
$menu-ultra-mobile-claim-font-family: $font-family !default;
$menu-ultra-mobile-claim-font-size: 3em !default;

$menu-ultra-mobile-close-button-color: $primary !default;
$menu-ultra-mobile-close-button-height: 0.4rem !default;
$menu-ultra-mobile-close-button-right: 1em !default;
$menu-ultra-mobile-close-button-top: 0 !default;
$menu-ultra-mobile-close-button-icon-glyph: '\00D7' !default;
$menu-ultra-mobile-close-button-icon-size: 300% !default;
$menu-ultra-mobile-close-button-icon-font: "FontAwesome" !default;

$menu-ultra-mobile-menu-bar-logo-height: 5em !default;
$menu-ultra-mobile-menu-bar-logo-margin-top: 0.2em !default;
$menu-ultra-mobile-menu-bar-logo-margin-bottom: 0.2em !default;
$menu-ultra-mobile-menu-bar-logo-margin-left: 0.2em !default;
$menu-ultra-mobile-menu-bar-logo-margin-right: 0.2em !default;
$menu-ultra-mobile-menu-bar-logo-margin: $menu-ultra-mobile-menu-bar-logo-margin-top $menu-ultra-mobile-menu-bar-logo-margin-right $menu-ultra-mobile-menu-bar-logo-margin-bottom $menu-ultra-mobile-menu-bar-logo-margin-left !default;

$menu-ultra-mobile-menu-bar-height: $menu-ultra-mobile-menu-bar-logo-height + $menu-ultra-mobile-menu-bar-logo-margin-top + $menu-ultra-mobile-menu-bar-logo-margin-bottom;

$menu-ultra-mobile-menu-bar-hamburger-bar-height: 0.4em !default;
$menu-ultra-mobile-menu-bar-hamburger-bar-width: 3em !default;
$menu-ultra-mobile-menu-bar-hamburger-bar-margin-bottom: 0.4em !default;
$menu-ultra-mobile-menu-bar-hamburger-top: ($menu-ultra-mobile-menu-bar-height - ($menu-ultra-mobile-menu-bar-hamburger-bar-height * 3 + $menu-ultra-mobile-menu-bar-hamburger-bar-margin-bottom * 3)) / 2 !default;
$menu-ultra-mobile-menu-bar-hamburger-right: $menu-ultra-mobile-menu-bar-hamburger-top !default;

/**
 * Artworks
 */
$artwork-content-width-ultra-mobile: 100%;
$artwork-content-width-mobile: 50%;
$artwork-content-width-tablet-portrait: 50%;
$artwork-content-width-tablet-landscape: 50%;
$artwork-content-width-desktop: 50%;

$artwork-content-margin-top-ultra-mobile: 1rem;
$artwork-content-margin-left-ultra-mobile: 0;

$artwork-content-margin-left-mobile: 25rem;
$artwork-content-margin-left-tablet-portrait: 25rem;
$artwork-content-margin-left-tablet-landscape: 27.5rem;
$artwork-content-margin-left-desktop: 27.5rem;

/**
 * Gallery
 */
$gallery-background-opacity: 0.3;

$gallery-vertical-margin-left-ultra-mobile: 1rem;
$gallery-vertical-margin-left-mobile: 22.5rem;
$gallery-vertical-margin-left-tablet-portrait: 22.5rem;
$gallery-vertical-margin-left-tablet-landscape: 27.5rem;
$gallery-vertical-margin-left-desktop: 27.5rem;

$gallery-vertical-margin-right-ultra-mobile: 1rem;
$gallery-vertical-margin-right-mobile: 22.5rem;
$gallery-vertical-margin-right-tablet-portrait: 22.5rem;
$gallery-vertical-margin-right-tablet-landscape: 27.5rem;
$gallery-vertical-margin-right-desktop: 27.5rem;

$gallery-content-width: 100%;

$gallery-margin-top-ultra-mobile: 1em;
$gallery-margin-top-mobile: 2.5em;

$gallery-content-figure-margin-top: 0;
$gallery-content-figure-margin-bottom: 0;
$gallery-content-figure-margin-left: 1.25rem;
$gallery-content-figure-margin-right: 1.25rem;

$gallery-content-figure-width-mobile: auto;
$gallery-content-figure-width-tablet-portrait: auto;
$gallery-content-figure-width-tablet-landscape: auto;
$gallery-content-figure-width-desktop: auto;

$gallery-content-figure-height-mobile: 45em;
$gallery-content-figure-height-tablet-portrait: 45em;
$gallery-content-figure-height-tablet-landscape: 45em;
$gallery-content-figure-height-desktop: 45em;

$gallery-content-margin-left-ultra-mobile: 1rem !default;
$gallery-content-margin-left-mobile: 22.5rem !default;
$gallery-content-margin-left-tablet-portrait: 22.5rem !default;
$gallery-content-margin-left-tablet-landscape: 27.5rem !default;
$gallery-content-margin-left-desktop: 27.5rem !default;

$gallery-content-margin-right-ultra-mobile: 1rem !default;
$gallery-content-margin-right-mobile: 5rem !default;
$gallery-content-margin-right-tablet-portrait: 5rem !default;
$gallery-content-margin-right-tablet-landscape: 5rem !default;
$gallery-content-margin-right-desktop: 5rem !default;

$gallery-content-padding-left-ultra-mobile: 0 !default;
$gallery-content-padding-left-mobile: 0 !default;
$gallery-content-padding-left-tablet-portrait: 0 !default;
$gallery-content-padding-left-tablet-landscape: 0 !default;
$gallery-content-padding-left-desktop: 0 !default;

$gallery-content-padding-right-ultra-mobile: 0 !default;
$gallery-content-padding-right-mobile: 0 !default;
$gallery-content-padding-right-tablet-portrait: 0 !default;
$gallery-content-padding-right-tablet-landscape: 0 !default;
$gallery-content-padding-right-desktop: 0 !default;

/**
 + Pages
 */
$page-content-margin-left-ultra-mobile: 1rem;
$page-content-margin-left-mobile: 25rem;
$page-content-margin-left-tablet-portrait: 25rem;
$page-content-margin-left-tablet-landscape: 27.5rem;
$page-content-margin-left-desktop: 27.5rem;

$page-content-margin-right-ultra-mobile: 1rem;
$page-content-margin-right-mobile: 2.5rem;
$page-content-margin-right-tablet-portrait: 2.5rem;
$page-content-margin-right-tablet-landscape: 5rem;
$page-content-margin-right-desktop: 27.5rem;

$page-font-family: $font-family !default;
$page-font-family-heading1: $font-family-heading !default;
$page-font-family-heading2: $font-family-heading !default;
$page-font-family-heading3: $font-family-heading !default;
$page-font-family-heading4: $font-family-heading !default;
$page-font-family-heading5: $font-family-heading !default;
$page-font-family-heading6: $font-family-heading !default;

/**
 + Social
 */
/** Icons */
$social-icon-facebook-color: $color-facebook !default;
$social-icon-twitter-color: $color-twitter !default;
$social-icon-pinterest-color: $color-pinterest !default;
$social-icon-tumblr-color: $color-tumblr !default;
$social-icon-deviant-art-color: $color-deviant-art !default;
$social-icon-patreon-color: $color-patreon !default;
$social-icon-youtube-color: $color-youtube !default;
$social-icon-instagram-color: $color-instagram !default;

/** Buttons */
$social-button-facebook-color: $color-facebook !default;
$social-button-twitter-color: $color-twitter !default;
$social-button-pinterest-color: $color-pinterest !default;
$social-button-tumblr-color: $color-tumblr !default;
$social-button-deviant-art-color: $color-deviant-art !default;
$social-button-patreon-color: $color-patreon !default;
$social-button-youtube-color: $color-youtube !default;
$social-button-instagram-color: $color-instagram !default;

/**
 * Lightbox
 */
$lightbox-overlay-background-zero-percent: $white !default;
$lightbox-overlay-background-hundred-percent: scale_color($black, $alpha: 30%) !default;
$lightbox-overlay-background-gradient: true;

$lightbox-close-button-top: 1rem !default;
$lightbox-close-button-right: 2.5rem !default;
$lightbox-close-button-color: $primary-lighter !default;

$lightbox-close-button-icon-glyph: '\00D7' !default;
$lightbox-close-button-icon-size: 300% !default;
$lightbox-close-button-icon-font: "FontAwesome" !default;

$lightbox-content-color: $primary-lighter !default;
$lightbox-content-font-weight: 200 !default;
$lightbox-content-font-family: $font-family;
$lightbox-content-font-style: normal;

$lightbox-padding-left: 5rem !default;
$lightbox-padding-right: 5rem !default;
$lightbox-padding-top: 5rem !default;
$lightbox-padding-bottom: 10rem !default;

/**
 * Scrollbar
 */
$scrollbar-thumb-color: $primary !default;
$scrollbar-rail-color: $primary-lighter !default;

/**
 * Form
 */
$form-text-color: $black !default;
$form-underline-color: $primary !default;
$form-label-floated-color: $primary !default;