{% extends '@Designer/base.html.twig' %}

{% block content %}
    <style>
        .container {
            background-image: url("https://bing.com/az/hprichbg/rb/OlivesTunisia_EN-US12251908561_1920x1080.jpg");
        }
    </style>
    <div style="height: 100vh; width: 100vh">Das ist testcontent</div>
{% endblock %}