{% extends '@Jinya/base.html.twig' %}

{% block body %}
    {% if form is defined %}
        {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig'] %}
    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
    {% block styles_bootstrap %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <style>
            body {
                padding-top: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}