body {
  overflow-x: hidden;
  padding-top: 56px;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  width: 250px;
  list-style: none;
  .nav-link {
    color: #ffffff;
    &.nav-link.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &.no-edit .overview {
    display: none;
  }

  .btn-outline-primary {
    color: white;
  }

  .overview {
    display: block;
  }

  .form-control {
    background: transparent;
    border: none;
    color: white;

    @include placeholder(white, 0.8);
  }
}

.page {
  padding-left: 250px;
  padding-right: 0;
}