{% extends '@Jinya/Installer/base.html.twig' %}

{% block content %}
    {{ include('@Jinya/Updater/Default/steps.html.twig', {'activeStep': 2}) }}
    <div class="ui info message">
        <div class="header"></div>
        <p>{{ 'update.done.content'|trans }}</p>
    </div>
    <form method="post">
        <button class="ui primary right floated button" type="submit">{{ 'update.done.designer'|trans }}</button>
    </form>
{% endblock %}
