{% extends '@Jinya/Installer/base.html.twig' %}

{% block content %}
    <form method="post">
        <h1>{{ 'update.database.title'|trans }}</h1>
        <p>{{ 'update.database.content'|trans }}</p>
        <button class="btn btn-primary" type="submit">{{ 'update.database.submit'|trans }}</button>
    </form>
{% endblock %}

