{% extends '@Backend/artworks/artworks_base.html.twig' %}

{% block content %}
    <div class="row artwork-details">
        <div style="background-image: url({{ artwork.picture }})" class="background">
        </div>
        <div class="content">
            <div class="col-sm-12">
                <h1>{{ artwork.name }}</h1>
                <p class="lead">{{ artwork.description }}</p>
            </div>
            <div class="col-sm-8"></div>
        </div>
    </div>
{% endblock %}