@mixin content-styling {
  a {
    color: $link-color-primary;

    &:hover {
      color: $link-hover-color-primary;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
  }

  img {
    max-width: 100%;
    object-fit: scale-down;
  }

  blockquote {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    border-left: 2px solid $blockquote-color;
  }
}