@mixin jinya-media-query($screen: true, $small: false, $medium: false, $large: false, $extra-large: false) {
    $query: '';
    $base: '';
    $query-parts: ();
    @if ($screen) {
        $base: $screen-media-query + ' and ';
    }

    @if ($small) {
        @media #{$base}#{$small-media-query}  {
            @content;
        }
    }
    @if ($medium) {
        @media #{$base}#{$medium-media-query}  {
            @content;
        }
    }
    @if ($large) {
        @media #{$base}#{$large-media-query}  {
            @content;
        }
    }
    @if ($extra-large) {
        @media #{$base}#{$extra-large-media-query}  {
            @content;
        }
    }
}
