@mixin jinya-media-query($screen: true, $small: false, $medium: false, $large: false, $extra-large: false) {
  $query: '';
  $query-parts: ();
  @if ($screen) {
    $query: $screen-media-query;
  }
  @if ($small) {
    $query-parts: append($query-parts, $small-media-query);
  }
  @if ($medium) {
    $query-parts: append($query-parts, $medium-media-query);
  }
  @if ($large) {
    $query-parts: append($query-parts, $small-media-query);
  }
  @if ($extra-large) {
    $query-parts: append($query-parts, $extra-large-media-query);
  }

  $query-parts-empty: length($query-parts) > 0;
  @if ($query-parts-empty > 0) {
    $query: '#{$screen-media-query} and '
  }

  @media #{$query}#{join($query-parts, ',')} {
    @content;
  }
}