<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="startup.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="Jinya\Cms\Tests\JinyaExtension"/>
    </extensions>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <report>
            <clover outputFile="build/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <cobertura outputFile="build/coverage.cobertura.xml"/>
        </report>
    </coverage>

    <php>
        <ini name="user_agent" value="Mozilla/5.0 (X11; Linux x86_64; rv:109.0) Gecko/20100101 Firefox/109.0"/>
        <env name="APP_ENV" value="dev"/>
        <env name="MYSQL_PASSWORD" value="jinya"/>
        <env name="MYSQL_USER" value="jinya"/>
        <env name="MYSQL_DATABASE" value="jinya"/>
        <env name="MYSQL_HOST" value="jinya-mariadb-test-database"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_CHARSET" value="utf8mb4"/>
        <env name="MAILER_HOST" value="jinya-mailer"/>
        <env name="MAILER_PORT" value="1025"/>
        <env name="MAILER_USERNAME" value="noreply@jinya.de"/>
        <env name="MAILER_PASSWORD" value="start1234"/>
        <env name="MAILER_ENCRYPTION" value="tls"/>
        <env name="MAILER_SMTP_AUTH" value="true"/>
        <env name="MAILER_FROM" value="noreply@jinya.de"/>
        <env name="JINYA_API_KEY_EXPIRY" value="315360000"/>
        <env name="JINYA_UPDATE_SERVER" value="https://releases.jinya.de/cms"/>
        <env name="INSTALLED_VERSION" value="phpunit"/>
    </php>
</phpunit>
