<div class="image-gallery" data-bind="event: { scroll: scrolled }">
    <!-- ko foreach: artworks -->
    <div class="image-gallery-entry" data-bind="css: { selected: $root.selectedItem().id == id, generated: true }">
        <img data-action="true"
             data-bind="attr: { src: picture }"/>
        <div class="mask">
            <span data-bind="text: name" class="mask-header"></span>
            <p class="mask-content" data-bind="text: description"></p>
            <a class="info" href="#"
               data-bind="click: $root.select">{{ 'designer.gallery.modification.select'|trans }}</a>
        </div>
    </div>
    <!-- /ko -->
</div>