.jinya-loader__container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/** Found at https://loading.io/css/ **/
.lds-dual-ring {
    display: inline-block;
    width: 120px;
    height: 120px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 104px;
    height: 104px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
