{% extends '@Backend/galleries/galleries_base.html.twig' %}

{% block content %}
    <div class="row gallery-details">
        <div style="background-image: url({{ gallery.background }})" class="background">
        </div>
        <div class="content">
            <div class="col-sm-12">
                <h1>{{ gallery.name }}</h1>
                <p class="lead">{{ gallery.description }}</p>
            </div>
            <div class="col-sm-8"></div>
        </div>
    </div>
{% endblock %}