{% extends '@Designer/form/form.base.html.twig' %}
{% block header %}{{ 'layout.designer.form.header.index'|trans }}{% endblock %}
{% block content %}
    <div class="list">
        {% for form in forms %}
            <a class="card" href="{{ url('designer_form_details', { 'slug': form.slug }) }}">
                <div class="card-body">
                    <h4 class="card-title">{{ form.title }}</h4>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}