.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;

  .half {
    max-width: 50%;
    flex: 0 0 50%;

    &:nth-child(odd) {
      padding-right: 1em;
    }
    &:nth-child(even) {
      padding-left: 1em;
    }
  }

  .full {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 1em;

    &.card {
      margin: 0 0 1em;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}