<form class="nav-item" method="post">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'generic.search'|trans }}"
               aria-label="{{ 'generic.search'|trans }}">
        <span class="input-group-btn">
        <button class="btn btn-outline-primary" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
</form>