.jinya-horizontal-video-gallery {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    overflow: auto;
    margin-top: 4rem;
    margin-left: -10vw;
}

.jinya-horizontal-video-gallery__page-title {
    @extend %jinya-page-title;
}

.jinya-horizontal-video-gallery__video-container {
    margin: 0 1rem;
    padding: 0;
}

.jinya-horizontal-video-gallery__video {
    height: 60vh;
    object-fit: scale-down;
    width: auto;
}

.jinya-horizontal-video-gallery__video--youtube {
    width: 110vh;
}

.jinya-horizontal-video-gallery-caption__title {
    margin: 1rem 0 0;
    font-family: $heading-font-family;
    font-weight: bold;
}

.jinya-horizontal-video-gallery-caption__content {
    margin: 1rem 0 0;
}
