@include jinya-media-query($screen: true, $small: true) {
    .jinya-gallery__artwork--mobile {
        margin-bottom: 1rem;
        height: unset;
        padding: unset;
    }

    .jinya-gallery__image--mobile {
        height: unset;
    }
}
