.jinya-vertical-art-gallery__artwork {
  &.is--modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0;

    .jinya-vertical-art-gallery-artwork__image {
      align-items: center;
      height: 100vh;
      width: 100vw;
      object-fit: contain;
    }

    .jinya-vertical-art-gallery__caption {
      display: unset;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      background: rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      text-align: center;
      @include content-styling;
    }

    .jinya-vertical-art-gallery-caption__title {
      color: #ffffff;
      font-size: $jinya-vertical-art-gallery-caption-font-size;
      font-weight: $jinya-vertical-art-gallery-caption-font-weight;
      font-family: $heading-font-family;
    }
  }

  &.is--open {
    opacity: 1;
  }
}

body.is--open {
  overflow: hidden;
}