.cosmo-input__group {
    display: grid;
    align-items: center;
    grid-template-columns: [label] auto [input] 1fr;
    grid-row-gap: 10px;
}

.cosmo-input,
.cosmo-textarea {
    min-width: 240px;
    height: 28px;
    padding: 4px 8px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
    border: 1px solid var(--control-border-color);
    background: var(--white);
    color: var(--black);
}

.cosmo-input:focus,
.cosmo-textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

.cosmo-input:invalid,
.cosmo-textarea:invalid {
    border-color: var(--negative-color);
    outline: none;
    box-shadow: none;
}

.cosmo-label {
    font-size: 16px;
    margin-right: 10px;
}

.cosmo-button,
.cosmo-input[type=file]::file-selector-button,
.cosmo-input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 16px;
    padding: 3px 16px;
    box-sizing: border-box;
    border: 1px solid var(--control-border-color);
    background: var(--white);
    color: var(--black);
    line-height: 19px;
    text-decoration: none;
    font-weight: normal;
}

.cosmo-button:disabled,
.cosmo-input[type=file]:disabled::file-selector-button,
.cosmo-input[type=file]:disabled::-webkit-file-upload-button {
    cursor: not-allowed;
    border: 1px solid var(--control-border-color);
    background: var(--white);
    color: var(--disabled-color);
}

.cosmo-button:disabled + .cosmo-button,
.cosmo-button:disabled + .cosmo-button:disabled,
.cosmo-button + .cosmo-button {
    border-left-width: 0;
}

.cosmo-button:hover,
.cosmo-input[type=file]:hover::file-selector-button,
.cosmo-input[type=file]:hover::-webkit-file-upload-button {
    background: var(--primary-color);
    color: var(--white);
    outline: none;
    box-shadow: none;
}

.cosmo-button:disabled:hover,
.cosmo-input[type=file]:disabled:hover::file-selector-button,
.cosmo-input[type=file]:disabled:hover::-webkit-file-upload-button {
    background: var(--white);
    color: var(--control-border-color);
    outline: none;
    box-shadow: none;
}

.cosmo-button:focus,
.cosmo-input[type=file]:focus::file-selector-button,
.cosmo-input[type=file]:focus::-webkit-file-upload-button {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: none;
}

.cosmo-button--full-width {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.cosmo-button__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 16px;
}

.cosmo-button__container > .cosmo-button + .cosmo-button {
    border-left-width: 1px;
}

.cosmo-input--picker {
    display: flex;
    align-items: center;
    padding: 0;
}

.cosmo-picker__name {
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow-x: hidden;
}

.cosmo-picker__button {
    color: var(--black);
    justify-self: flex-end;
    margin-left: auto;
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
}

.cosmo-picker__button:hover {
    background: var(--black);
    color: var(--white);
}

.cosmo-input[type=file] {
    padding: 0;
}

.cosmo-input[type=file]::file-selector-button,
.cosmo-input[type=file]::-webkit-file-upload-button {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    padding-top: 4px;
}

.cosmo-textarea {
    height: unset;
}

.cosmo-label--textarea,
.cosmo-label--radio {
    align-self: baseline;
}

.cosmo-radio__group {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.cosmo-radio {
    appearance: none;
    margin: 0;
}

.cosmo-radio + label {
    display: flex;
    position: relative;
}

.cosmo-radio + label::before,
.cosmo-radio + label::after {
    content: '';
    border-radius: 50%;
    display: inline-block;
}

.cosmo-radio + label::before {
    border: 1px solid var(--control-border-color);
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.cosmo-radio:checked + label::after {
    position: absolute;
    background: var(--primary-color);
    height: 10px;
    width: 10px;
    left: 4px;
    top: 4px;
}

.cosmo-checkbox__group {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column: 2/3;
}

.cosmo-checkbox {
    appearance: none;
    margin: 0;
}

.cosmo-checkbox + label {
    display: flex;
    position: relative;
}

.cosmo-checkbox + label::before {
    content: '';
    display: inline-block;
}

.cosmo-checkbox + label::before {
    border: 1px solid var(--control-border-color);
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.cosmo-checkbox:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 8px;
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
    transform: rotate(135deg);
    top: 7px;
    left: 5px;
}

.cosmo-checkbox:checked + label::before {
    background: var(--primary-color);
    color: var(--white);
}

.cosmo-select {
    min-width: 240px;
    font-size: 16px;
    border: 1px solid var(--control-border-color);
    background: var(--white);
    padding: 4px 32px 4px 8px;
    height: 28px;
    appearance: none;
    color: var(--black);
    position: relative;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSIgdmVyc2lvbj0iMS4xIj4KICAgIDxnPgogICAgICAgIDxwYXRoIHN0eWxlPSJvcGFjaXR5OjE7ZmlsbDojMDAwMDAwO2ZpbGwtb3BhY2l0eToxO3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

@media screen and (prefers-color-scheme: dark) {
    .cosmo-select {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSIgdmVyc2lvbj0iMS4xIj4KICAgIDxnPgogICAgICAgIDxwYXRoIHN0eWxlPSJvcGFjaXR5OjE7ZmlsbDojY2NjY2NjO2ZpbGwtb3BhY2l0eToxO3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');
    }
}

.cosmo-select:focus {
    border: 1px solid var(--primary-color);
    outline: none;
    box-shadow: none;
}

.cosmo-input__header {
    font-size: 24px;
    height: 24px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    grid-column: span 2;
    margin-top: 10px;
}
