.jinya-footer-menu__item {
  padding: $jinya-footer-menu-item-padding;
  color: $jinya-footer-menu-item-color;
  transition: color 0.3s;
  text-decoration: none;
  font-family: $jinya-footer-menu-item-font-family;

  &:hover {
    color: $jinya-footer-menu-item-hover-color;
  }

  &:last-child {
    padding-right: 0;
  }
}

.jinya-footer__menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}