.jinya-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid $jinya-footer-border-top-color;
  padding: $jinya-footer-padding;
  margin: $jinya-footer-margin;

  @include jinya-media-query($screen: true, $small: true) {
    justify-content: flex-start;
    flex-flow: column wrap;
  }
}

.jinya-footer__copyright {
  justify-self: flex-start;

  @include jinya-media-query($screen: true, $small: true) {
    margin-bottom: 1rem;
  }
}