.jinya-menu__hamburger {
    background: $jinya-menu-hamburger-background;
    width: 1rem;
    border: none;
    display: block;
    padding: 0;
    transition: width 0.3s;

    @include jinya-media-query($large: true, $extra-large: true, $screen: true) {
        display: none;
    }

    &.is--open {
        width: 2rem;

        .jinya-menu-hamburger__bar {
            &:first-child {
                transform: rotate(45deg);
                margin-bottom: 0;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg) translate(4px, -4px);
                margin-top: 0;
            }
        }
    }
}

.jinya-menu-hamburger__bar {
    background: $jinya-menu-hamburger-bar-color;
    display: block;
    height: 3px;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;

    &:first-child {
        margin-bottom: 3px;
    }

    &:last-child {
        margin-top: 3px;
    }
}
