.jinya-profile {
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.jinya-profile__sidebar {
    flex: 0 0 20%;

    @include jinya-media-query($small: true) {
        flex-basis: 100%;
    }
}

.jinya-profile__about-me {
    flex: 0 0 80%;
    padding-left: 1rem;
    box-sizing: border-box;

    @include content-styling;

    @include jinya-media-query($small: true) {
        flex-basis: 100%;
    }
}

.jinya-profile__picture {
    width: 100%;
    object-fit: scale-down;
}

.jinya-profile__email {
    width: 100%;
}

.jinya-profile__artist-name {
    width: 100%;
    font-family: $heading-font-family;
}
