.jinya-submenu {
  display: none;
  list-style: none;
  flex-flow: wrap column;
  padding: $jinya-submenu-item-padding;
  position: absolute;
  margin: $jinya-submenu-margin;
  background: $jinya-submenu-background;
  min-width: 100%;
}

.jinya-submenu--open {
  display: flex;
}

.jinya-submenu__item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

  &:hover {
    .jinya-submenu {
      display: flex;
    }

    .jinya-submenu__link {
      color: $jinya-submenu-item-hover-color;
    }
  }
}

.jinya-submenu__link {
  transition: color 0.3s;
  color: $jinya-submenu-item-color;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  display: block;

  &.is--active {
    color: $jinya-submenu-item-active-color;
  }

  &.is--highlight {
    font-weight: bold;
  }
}