$jinya-debug: false;

$white: #fff !default;
$black: #000 !default;

$primary: #da9c8a !default;
$primary-light: scale_color($primary, $lightness: 25%);
$primary-lighter: scale_color($primary, $lightness: 50%);
$primary-lightest: scale_color($primary, $lightness: 75%);

$primary-dark: scale_color($primary, $lightness: -25%);
$primary-darker: scale_color($primary, $lightness: -50%);
$primary-darkest: scale_color($primary, $lightness: -75%);

$secondary: #8ac8da !default;
$secondary-light: scale_color($secondary, $lightness: 25%);
$secondary-lighter: scale_color($secondary, $lightness: 50%);
$secondary-lightest: scale_color($secondary, $lightness: 75%);

$secondary-dark: scale_color($secondary, $lightness: -25%);
$secondary-darker: scale_color($secondary, $lightness: -50%);
$secondary-darkest: scale_color($secondary, $lightness: -75%);

$negative: #dc3545;
$positive: #28a745;

$text-color-primary: grayscale($primary-darker);
$text-color-secondary: grayscale($secondary-darker);

$link-color-primary: $primary-dark;
$link-hover-color-primary: $primary-darker;

$breakpoint-ultra-mobile-max-width: 639px !default;

$breakpoint-mobile-min-width: 640px !default;
$breakpoint-mobile-max-width: 1199px !default;

$breakpoint-tablet-portrait-min-width: 1200px !default;
$breakpoint-tablet-portrait-max-width: 1439px !default;

$breakpoint-tablet-landscape-min-width: 1440px !default;
$breakpoint-tablet-landscape-max-width: 1919px !default;

$breakpoint-desktop-min-width: 1920px !default;

$menu-font-family: 'Open Sans', 'sans serif' !default;
$paragraph-font-family: 'Open Sans', 'sans serif' !default;
$heading-font-family: Raleway, 'sans serif' !default;
$brand-font-family: 'Josefin Sans', 'sans serif' !default;

$jinya-header-font-size: 1.5em !default;
$jinya-header-color: $primary !default;
$jinya-header-border-bottom-color: $secondary !default;
$jinya-header-padding: 1rem !default;

$blockquote-color: $secondary-light;

$jinya-brand-font-size: $jinya-header-font-size !default;
$jinya-brand-font-family: $brand-font-family !default;
$jinya-brand-color: $jinya-header-color !default;
$jinya-brand-padding: 0.5rem !default;

$jinya-menu-font-size: $jinya-header-font-size !default;
$jinya-menu-font-family: $menu-font-family !default;

$jinya-menu-item-color: $secondary !default;
$jinya-menu-item-active-color: $primary !default;
$jinya-menu-item-hover-color: $secondary-darker !default;
$jinya-menu-item-padding: 0.5rem !default;

$jinya-submenu-margin: 2rem -0.5rem 0 !default;
$jinya-submenu-background: $secondary-lightest;
$jinya-submenu-item-color: $secondary-darker !default;
$jinya-submenu-item-active-color: $primary !default;
$jinya-submenu-item-hover-color: $secondary-darkest !default;
$jinya-submenu-item-padding: 0.5rem !default;

$jinya-footer-padding: 0.5rem 0 !default;
$jinya-footer-margin: 2rem 0 !default;
$jinya-footer-border-top-color: $secondary-light !default;
$jinya-footer-menu-item-padding: 0 0.5rem !default;
$jinya-footer-menu-item-color: $secondary-dark !default;
$jinya-footer-menu-item-hover-color: $secondary-darkest !default;
$jinya-footer-menu-item-padding: 0.5rem !default;
$jinya-footer-menu-item-font-family: $menu-font-family;

$jinya-vertical-art-gallery-artwork-width: calc(50% - 0.5rem) !default;
$jinya-vertical-art-gallery-caption-width: calc(50% - 0.5rem) !default;
$jinya-vertical-art-gallery-caption-font-weight: lighter !default;
$jinya-vertical-art-gallery-artwork-border-bottom-color: $secondary-lightest !default;

$jinya-vertical-video-gallery-video-width: calc(50% - 0.5rem) !default;
$jinya-vertical-video-gallery-caption-width: calc(50% - 0.5rem) !default;
$jinya-vertical-video-gallery-caption-font-weight: lighter !default;
$jinya-vertical-video-gallery-video-border-bottom-color: $secondary-lightest !default;

$jinya-form-center-items: true;

$jinya-form-page-title-font-family: $heading-font-family !default;
$jinya-form-page-center-title: true;

$jinya-form-input-width: 30rem !default;
$jinya-form-input-font-family: $paragraph-font-family !default;
$jinya-form-input-font-size: 0.875rem !default;
$jinya-form-input-border-color: $secondary-light;
$jinya-form-input-padding: 0.5em;
$jinya-form-input-border-radius: 5px;
$jinya-form-input-focus-box-shadow-blur-radius: 1px;
$jinya-form-input-focus-box-shadow-spread-radius: 1px;
$jinya-form-input-focus-box-shadow-color: $primary;
$jinya-form-input-invalid-color: $negative;

$jinya-form-button-padding: 0.5rem 1rem;