@function pastelize($color) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $red: ($red + 255) / 2;
  $green: ($green + 255) / 2;
  $blue: ($blue + 255) / 2;

  @return rgb($red, $green, $blue);
}

@function color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 195) {
    @return $black;
  } @else {
    @return $white;
  }
}
