.jinya-designer-segment {
    border-radius: 5px;
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
    background: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
}

.jinya-designer-segment--html h1,
.jinya-designer-segment--html h2,
.jinya-designer-segment--html h3,
.jinya-designer-segment--html h4,
.jinya-designer-segment--html h5,
.jinya-designer-segment--html h6 {
    margin: 0;
    padding: 0;
}

.jinya-designer-segment--html p:last-child {
    margin-bottom: 0;
}

.jinya-designer-segment--file {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.jinya-designer-segment__image {
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.jinya-designer-segment__modifiers {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

.jinya-designer-segment__action-header,
.jinya-designer-segment__target-header,
.jinya-designer-segment__script-header {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-16);
}

.jinya-designer-segment__action-value,
.jinya-designer-segment__target-value {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-16);
    margin-left: 0;
    padding-right: 0;
}

.jinya-designer-segment__title {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-light);
    width: 100%;
    display: block;
}

.jinya-designer-segment__files {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
}

.jinya-designer-segment__file {
    display: block;
    flex: 0 0 14rem;
    min-width: 14rem;
    height: 14rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 5px;
    cursor: move;
}

.jinya-designer-segment__file:hover {
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
}

.jinya-designer-segment__items {
    display: flex;
    flex-flow: row wrap;
}

.jinya-designer-segment__item {
    display: flex;
    min-width: 100%;
    flex: 0 0 100%;
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    border-bottom: 2px solid var(--primary-color);
    cursor: move;
    box-sizing: border-box;
    transition: background 0.3s;
    gap: 1rem;
    align-items: center;
}

.jinya-designer-segment__item:hover {
    background: var(--input-background-color);
}
