.jinya-designer-segment {
    border-radius: 5px;
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
    background: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}

.jinya-designer-segment--html h1,
.jinya-designer-segment--html h2,
.jinya-designer-segment--html h3,
.jinya-designer-segment--html h4,
.jinya-designer-segment--html h5,
.jinya-designer-segment--html h6 {
    margin: 0;
    padding: 0;
}

.jinya-designer-segment--html p:last-child {
    margin-bottom: 0;
}

.jinya-designer-segment--file {
    display: grid;
    grid-template-columns: 25rem 1fr;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.jinya-designer-segment__image {
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.jinya-designer-segment__modifiers {
    box-sizing: border-box;
    padding: 1rem 0 1rem 1rem;
}

.jinya-designer-segment__modifiers dl {
    margin: 0;
}

.jinya-designer-segment__action-header,
.jinya-designer-segment__target-header,
.jinya-designer-segment__script-header {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-16);
}

.jinya-designer-segment__action-value,
.jinya-designer-segment__target-value {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
    margin-left: 0;
    padding-right: 0;
}

.jinya-designer-segment__title {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-light);
    width: 100%;
    display: block;
}

.jinya-designer-segment__file {
    display: block;
    flex: 0 0 14rem;
    min-width: 14rem;
    height: 14rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 5px;
    cursor: move;
}

.jinya-designer-segment__file:hover {
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
}

.jinya-designer-segment__list-item {
    border-radius: 5px;
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
    background: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
}

.jinya-designer-segment__item:hover {
    background: var(--input-background-color);
}

.jinya-designer-segment__button {
    background: var(--color-1);
    color: var(--color-2);
    transition: color 0.3s, background 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: var(--font-size-24);
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    float: right;
}

.jinya-designer-segment__button:hover {
    color: var(--color-1);
    background: var(--color-2);
}

.jinya-designer-segment__button--primary {
    --color-1: var(--white);
    --color-2: var(--primary-color);
}

.jinya-designer-segment__button--negative {
    --color-1: var(--white);
    --color-2: var(--negative-color);
}

.jinya-designer-segment-page-designer__list {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: auto;
    padding: 5px;
}

.jinya-designer-segment-page-designer__list--new-items {
    flex: 0 0 29rem;
    min-width: 29rem;
    border-right: 2px solid var(--primary-color);
}

.jinya-designer-segment-page-designer__container {
    display: flex;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: hidden;
}