.jinya-designer-gallery-designer__container {
    display: flex;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: hidden;
}

.jinya-designer-gallery-designer__middle-bar {
    background: var(--primary-color);
    width: 2px;
    height: calc(100vh - 9rem + var(--line-height-23));
    display: block;
    margin-right: 1rem;
}

.jinya-designer-gallery-designer__list {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: auto;
    padding: 5px;
}

.jinya-designer-gallery-designer__list--file {
    flex: 0 0 29rem;
    min-width: 29rem;
}

.jinya-designer-gallery-designer__list--positions {
    flex: 0 0 calc(100% - 31rem);
    min-width: calc(100% - 31rem);
    min-height: calc(100vh - 9rem + var(--line-height-23));
}

.jinya-designer-gallery-designer__item {
    min-width: 13rem;
    height: 13rem;
    border-radius: 5px;
    flex: 0 0 13rem;
    transition: box-shadow 0.3s;
    cursor: move;
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

@media (prefers-color-scheme: light) {
    .jinya-designer-gallery-designer__item:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }
}

@media (prefers-color-scheme: dark) {
    .jinya-designer-gallery-designer__item:hover {
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.75);
    }
}

.jinya-designer-gallery-designer__item--file:nth-child(2n) {
    margin-right: 0;
}

.jinya-designer-gallery-designer__item--position {
    opacity: 1;
    transition: opacity 0.3s;
}

.jinya-designer-gallery-designer__item--drag-over {
    opacity: 0.5;
}

.jinya-designer-gallery-designer__item--next-item {
    border: 2px dashed var(--primary-color);
    border-radius: 5px;
    min-width: 13rem;
    height: 13rem;
    flex: 0 0 13rem;
}
