.jinya-designer-themes-links__fieldset {
    border: none;
    margin-bottom: 1rem;
    padding: 1rem 0 0;
}

.jinya-designer-themes-links__legend {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-24);
}