.jinya-page-content--login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jinya-page-body--app {
    display: grid;
    grid-template-columns: 164px [content] 1fr 164px;
}

.jinya-top-bar__menu-item--logout {
    margin-left: 16px;
}

.jinya-media-view,
.jinya-profile-view {
    display: grid;
    grid-template-rows: [toolbar] 31px 30px [content] 1fr;
}
