{% extends '@Designer/page/page.base.html.twig' %}
{% block header %}{{ page.title }}{% endblock %}
{% block content %}
    <div class="page-content">
        {{ page.content|raw }}
    </div>
{% endblock %}

{% block menu_bottom_links_page_specific %}
    {% include '@Designer/page/additionalLinks.html.twig' %}
{% endblock %}