<div class="jinya-media-view" x-data="filesData">
  <div class="cosmo-toolbar is--media">
    <div class="cosmo-toolbar__group">
      <button
        :disabled="loading"
        @click="openUploadSingleFileDialog"
        class="cosmo-button"
        type="button"
        x-localize:media-files-action-upload_single_file
      ></button>
      <button
        :disabled="loading"
        @click="openUploadMultipleFilesDialog"
        class="cosmo-button"
        type="button"
        x-localize:media-files-action-upload_multiple_file
      ></button>
    </div>
    <div class="cosmo-toolbar__group">
      <button
        @click="deleteMultipleFiles()"
        :disabled="selectedFiles.size === 0"
        class="cosmo-button"
        type="button"
        x-localize:media-files-action-delete_multiple_files
      ></button>
    </div>
    <div class="cosmo-toolbar__group">
      <button
        :disabled="loading"
        @click="openManageTagsDialog"
        class="cosmo-button"
        type="button"
        x-localize:media-files-action-manage_tags
      ></button>
    </div>
  </div>
  <div class="jinya-tags is--media">
    <cms-tag
      :active="activeTags.size === 0"
      :name="defaultTagName"
      @click="clearTags"
      class="jinya-tag is--file"
      color="#19324c"
      emoji=""
      id="show-all-tags"
      tag-id="-1"
    ></cms-tag>
    <template :key="tag.id" x-for="tag in tags">
      <cms-tag
        :active="activeTags.has(tag.id)"
        :color="tag.color"
        :emoji="tag.emoji"
        :name="tag.name"
        :tag-id="tag.id"
        @click="toggleTag(tag)"
        class="jinya-tag is--file"
      ></cms-tag>
    </template>
  </div>
  <template x-if="loading">
    <div class="jinya-media-view__loader jinya-loader__container">
      <cms-loader></cms-loader>
    </div>
  </template>
  <template x-if="!loading">
    <div class="jinya-media-view__container">
      <div class="jinya-media-tile__container">
        <template :key="file.id" x-for="file in filteredFiles">
          <div
            :class="{ 'is--selected': selectedFiles.has(file.id) }"
            :data-title="file.id + ' ' + file.name"
            @click="selectFile($event, file.id)"
            class="jinya-media-tile"
          >
            <div class="jinya-media-tile__img">
              <img :alt="file.name" :src="file.path" />
            </div>
            <ul class="jinya-tile__tags">
              <template :key="tag.id" x-for="tag in file.tags ?? []">
                <li :style="getTagStyle(tag)" class="jinya-tile__tag">
                  <span class="jinya-tile__tag-arrow"></span>
                  <span class="jinya-tile__tag-emoji" x-text="tag.emoji"></span>
                </li>
              </template>
            </ul>
          </div>
        </template>
      </div>
      <div class="jinya-media-view__details">
        <template x-if="selectedFilesDetails.length > 0">
          <div style="display: contents">
            <span class="cosmo-title jinya-media-details__title">
              <button class="cosmo-button is--primary is--icon" :disabled="selectedFile === 0"
                      @click="selectedFile -= 1">
                <svg width="24" height="24" viewBox="0 0 24 24" class="jinya-icon">
                  <path d="m15 18-6-6 6-6" />
                </svg>
              </button>
              <span x-text="selectedFileDetails?.name"></span>
              <button class="cosmo-button is--primary is--icon"
                      :disabled="selectedFile === selectedFilesDetails.length - 1"
                      @click="selectedFile += 1">
                <svg width="24" height="24" viewBox="0 0 24 24" class="jinya-icon">
                  <path d="m9 18 6-6-6-6" />
                </svg>
              </button>
            </span>
            <div class="cosmo-toolbar">
              <div class="cosmo-toolbar__group">
                <a :download="selectedFileDetails?.name"
                   :href="detailsDownloadPath"
                   class="cosmo-button" x-localize:media-files-details-download_file></a>
                <button
                  @click="openEditFileDialog()"
                  class="cosmo-button"
                  type="button"
                  x-localize:media-files-action-edit_file
                ></button>
                <button
                  @click="deleteFile()"
                  class="cosmo-button"
                  type="button"
                  x-localize:media-files-action-delete_file
                ></button>
              </div>
            </div>
            <template x-if="selectedFileDetails?.type?.startsWith('image')">
              <img :alt="selectedFileDetails?.name" :src="selectedFileDetails?.path"
                   class="jinya-media-details__image" />
            </template>
            <template x-if="selectedFileDetails?.type?.startsWith('video')">
              <video class="jinya-media-details__image" controls>
                <source :src="selectedFileDetails?.path"
                        :type="selectedFileDetails?.type" />
              </video>
            </template>
            <template x-if="selectedFileDetails?.type?.startsWith('audio')">
              <audio class="jinya-media-details__image" controls>
                <source :src="selectedFileDetails?.path"
                        :type="selectedFileDetails?.type" />
              </audio>
            </template>
            <dl class="cosmo-list is--key-value">
              <dd class="cosmo-list__value is--tags">
                <template x-for="tag in selectedFileDetails?.tags ?? []">
                  <cms-tag
                    :color="tag.color"
                    :emoji="tag.emoji"
                    :name="tag.name"
                    :tag-id="tag.id"
                    active
                    class="jinya-tag is--file"
                  ></cms-tag>
                </template>
              </dd>
              <dt x-localize:media-files-details-type></dt>
              <dd :title="selectedFileDetails?.type"
                  x-text="detailsFileType"></dd>
              <dt x-localize:media-files-details-uploaded_by></dt>
              <dd>
                <span x-text="selectedFileDetails?.created?.by?.artistName"></span>
                <small>
                  <a :href="'mailto:' + selectedFileDetails?.created.by.email"
                     x-text="selectedFileDetails?.created?.by?.email"></a>
                </small>
              </dd>
              <dt x-localize:media-files-details-last_changed_by></dt>
              <dd>
                <span x-text="selectedFileDetails?.updated?.by?.artistName"></span>
                <small>
                  <a :href="'mailto:' + selectedFileDetails?.updated?.by?.email"
                     x-text="selectedFileDetails?.updated?.by?.email"></a>
                </small>
              </dd>
            </dl>
          </div>
        </template>
      </div>
    </div>
  </template>
  <template x-if="edit.open">
    <form @submit.prevent="updateFile" class="cosmo-modal__container">
      <div class="cosmo-modal is--files">
        <h1 class="cosmo-modal__title" x-localize:media-files-edit-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="edit.error.hasError">
            <span class="cosmo-message__header" x-text="edit.error.title"></span>
            <p class="cosmo-message__message" x-text="edit.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label class="cosmo-label" for="editFileName" x-localize:media-files-edit-name></label>
            <input class="cosmo-input" id="editFileName" required type="text" x-model="edit.name" />
            <label class="cosmo-label" for="editFileFile" x-localize:media-files-edit-file></label>
            <input @change="edit.selectFile($event.target.files)" class="cosmo-input" id="editFileFile" type="file" />
            <label class="cosmo-label" x-localize:media-files-edit-tags></label>
            <div class="jinya-tags is--details">
              <template :key="tag.id" x-for="tag in tags">
                <cms-tag
                  :active="edit.tags.has(tag.name)"
                  :color="tag.color"
                  :emoji="tag.emoji"
                  :name="tag.name"
                  :tag-id="tag.id"
                  @click="edit.toggleTag(tag)"
                  class="jinya-tag is--file"
                ></cms-tag>
              </template>
              <button @click="edit.tagPopupOpen = true" class="cosmo-button is--small is--circle is--primary"
                      id="new-tag-open-button"
                      type="button">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </button>
            </div>
            <cms-tag-popup
              :cancel-label="tagPopupCancelLabel"
              :color="randomColor"
              :emoji="randomEmoji"
              :error="edit.error.tagError"
              :open="edit.tagPopupOpen"
              :popup-title="tagPopupTitle"
              :save-label="tagPopupSaveLabel"
              @close="edit.tagPopupOpen = false"
              @submit="createEditTag($event)"
              target="#new-tag-open-button"
            ></cms-tag-popup>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="edit.open = false" class="cosmo-button" type="button"
                  x-localize:media-files-edit-cancel></button>
          <button class="cosmo-button" type="submit" x-localize:media-files-edit-save></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="uploadSingleFile.open">
    <form @submit.prevent="uploadFile" class="cosmo-modal__container">
      <div class="cosmo-modal is--files">
        <h1 class="cosmo-modal__title" x-localize:media-files-upload_single_file-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="uploadSingleFile.error.hasError">
            <span class="cosmo-message__header" x-text="uploadSingleFile.error.title"></span>
            <p class="cosmo-message__message" x-text="uploadSingleFile.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label class="cosmo-label" for="uploadSingleFileName"
                   x-localize:media-files-upload_single_file-name></label>
            <input class="cosmo-input" id="uploadSingleFileName" required type="text" x-model="uploadSingleFile.name" />
            <label class="cosmo-label" for="uploadSingleFileFile"
                   x-localize:media-files-upload_single_file-file></label>
            <input @change="uploadSingleFile.selectFile($event.target.files)" class="cosmo-input"
                   id="uploadSingleFileFile" required
                   type="file" />
            <label class="cosmo-label" x-localize:media-files-upload_single_file-tags></label>
            <div class="jinya-tags is--details">
              <template :key="tag.id" x-for="tag in tags">
                <cms-tag
                  :active="uploadSingleFile.tags.has(tag.name)"
                  :color="tag.color"
                  :emoji="tag.emoji"
                  :name="tag.name"
                  :tag-id="tag.id"
                  @click="uploadSingleFile.toggleTag(tag)"
                  @close="uploadSingleFile.tagPopupOpen = false"
                  class="jinya-tag is--file"
                ></cms-tag>
              </template>
              <button @click="uploadSingleFile.tagPopupOpen = true"
                      class="cosmo-button is--small is--circle is--primary" id="new-tag-open-button"
                      type="button">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </button>
            </div>
            <cms-tag-popup
              :cancel-label="tagPopupCancelLabel"
              :color="randomColor"
              :emoji="randomEmoji"
              :error="uploadSingleFile.error.tagError"
              :open="uploadSingleFile.tagPopupOpen"
              :popup-title="tagPopupTitle"
              :save-label="tagPopupSaveLabel"
              @close="uploadSingleFile.tagPopupOpen = false"
              @submit="createUploadSingleFileTag($event)"
              target="#new-tag-open-button"
            ></cms-tag-popup>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="uploadSingleFile.open = false" class="cosmo-button" type="button"
                  x-localize:media-files-upload_single_file-cancel></button>
          <button class="cosmo-button" type="submit" x-localize:media-files-upload_single_file-upload></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="uploadMultipleFiles.open">
    <form @submit.prevent="enqueueFiles" class="cosmo-modal__container">
      <div class="cosmo-modal is--files">
        <h1 class="cosmo-modal__title" x-localize:media-files-upload_multiple_files-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="uploadMultipleFiles.error.hasError">
            <span class="cosmo-message__header" x-text="uploadMultipleFiles.error.title"></span>
            <p class="cosmo-message__message" x-text="uploadMultipleFiles.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label class="cosmo-label" for="uploadMultipleFilesFiles"
                   x-localize:media-files-upload_multiple_files-files></label>
            <input @change="uploadMultipleFiles.selectFiles($event.target.files)" class="cosmo-input"
                   id="uploadMultipleFilesFiles" multiple required
                   type="file" />
            <label class="cosmo-label" x-localize:media-files-upload_multiple_files-tags></label>
            <div class="jinya-tags is--details">
              <template :key="tag.id" x-for="tag in tags">
                <cms-tag
                  :active="uploadMultipleFiles.tags.has(tag.name)"
                  :color="tag.color"
                  :emoji="tag.emoji"
                  :name="tag.name"
                  :tag-id="tag.id"
                  @click="uploadMultipleFiles.toggleTag(tag)"
                  class="jinya-tag is--file"
                ></cms-tag>
              </template>
              <button @click="uploadMultipleFiles.tagPopupOpen = true"
                      class="cosmo-button is--small is--circle is--primary" id="new-tag-open-button"
                      type="button">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </button>
            </div>
            <cms-tag-popup
              :cancel-label="tagPopupCancelLabel"
              :color="randomColor"
              :emoji="randomEmoji"
              :error="uploadMultipleFiles.error.tagError"
              :open="uploadMultipleFiles.tagPopupOpen"
              :popup-title="tagPopupTitle"
              :save-label="tagPopupSaveLabel"
              @close="uploadMultipleFiles.tagPopupOpen = false"
              @submit="createUploadMultipleFilesTag($event)"
              target="#new-tag-open-button"
            ></cms-tag-popup>
          </div>
          <div class="jinya-media-tile__container is--modal">
            <template x-for="file in uploadMultipleFiles.files">
              <div class="jinya-media-tile is--small">
                <img class="jinya-media-tile__img is--small" x-blob-src="file">
              </div>
            </template>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="uploadMultipleFiles.open = false" class="cosmo-button" type="button"
                  x-localize:media-files-upload_multiple_files-cancel></button>
          <button class="cosmo-button" type="submit" x-localize:media-files-upload_multiple_files-upload></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="manageTags.open">
    <div class="cosmo-modal__container">
      <div class="cosmo-modal cosmo-modal--tags">
        <h1 class="cosmo-modal__title" x-localize:media-files-tags-manage-title></h1>
        <div class="cosmo-modal__content">
          <div class="jinya-tags">
            <template :key="tag.id" x-for="tag in manageTags.tags">
              <cms-tag
                :color="tag.color"
                :emoji="tag.emoji"
                :id="'tag-' + tag.id"
                :name="tag.name"
                :tag-id="tag.id"
                @delete="deleteTag(tag)"
                @edit="openEditTag(tag.id)"
                class="jinya-tag"
                deletable="deletable"
                editable="editable"
              ></cms-tag>
            </template>
            <template :key="tag.id" x-for="tag in manageTags.tags">
              <cms-tag-popup
                :cancel-label="manageTags.tagPopupUpdateCancelLabel"
                :color="tag.color"
                :emoji="tag.emoji"
                :error="manageTags.error.tagError"
                :name="tag.name"
                :open="manageTags.editOpenId == tag.id"
                :popup-title="manageTags.tagPopupUpdateTitle"
                :save-label="manageTags.tagPopupUpdateSaveLabel"
                :target="'#tag-' + tag.id"
                @close="manageTags.editOpenId = null"
                @submit="saveTag(tag, $event)"
              ></cms-tag-popup>
            </template>
            <button @click="manageTags.tagPopupOpen = true" class="cosmo-button is--small is--circle is--primary"
                    id="new-tag-open-button"
                    type="button">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14" />
                <path d="M12 5v14" />
              </svg>
            </button>
          </div>
          <cms-tag-popup
            :cancel-label="tagPopupCancelLabel"
            :color="randomColor"
            :emoji="randomEmoji"
            :error="manageTags.error.tagError"
            :open="manageTags.tagPopupOpen"
            :popup-title="tagPopupTitle"
            :save-label="tagPopupSaveLabel"
            @close="manageTags.tagPopupOpen = false"
            @submit="createManageTagsTag($event)"
            target="#new-tag-open-button"
          ></cms-tag-popup>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="manageTags.open = false" class="cosmo-button" type="button"
                  x-localize:media-files-tags-manage-close></button>
        </div>
      </div>
    </div>
  </template>
</div>
