{% extends base_layout %}

{% block content %}
    <div class="row history">
        <nav class="col-sm-12">
            <ul class="nav nav-pills mb-3" role="tablist">
                {% for entry in history|reverse %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#{{ entry.timestamp.timestamp }}"
                           data-toggle="tab">{{ entry.timestamp|localizeddate }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="tab-content col-sm-12">
            {% for entry in history|reverse %}
                <div class="tab-pane fade"
                     id="{{ entry.timestamp.timestamp }}">
                    {% if entry.initial is defined and entry.initial == true %}
                        {% include '@Backend/history/create_entry.html.twig' with { 'item': entry.entry } %}
                    {% else %}
                        {% include '@Backend/history/update_entry.html.twig' with { 'item': entry.entry } %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}