{% extends '@Designer/base.html.twig' %}
{% block menu_bottom_links %}
    <a href="{{ url('designer_form_add') }}" title="{{ 'layout.designer.form.header.add'|trans }}"><i
                class="fa fa-plus"></i></a>
    {% block menu_bottom_links_form_specific %}
    {% endblock %}
{% endblock %}

{% block scripts_custom %}
    {% javascripts filter='jsqueeze' '@designer_form_js' output='public/js/designer/form.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}