<div class="cosmo-side-list" x-data="classicPagesData">
  <nav class="cosmo-side-list__items">
    <template :key="page.id" x-for="page in pages">
      <a :class="{ 'is--active': selectedPage?.id === page.id }"
         @click="selectPage(page)"
         class="cosmo-side-list__item"
         x-text="page.title"></a>
    </template>
    <button @click="openCreateDialog" class="cosmo-button is--full-width"
            x-localize:pages_and_forms-classic-action-new></button>
  </nav>
  <template x-if="selectedPage">
    <div class="cosmo-side-list__content jinya-designer">
      <div class="jinya-designer__title">
        <span class="cosmo-title" x-text="title"></span>
      </div>
      <cms-sparkline class="jinya-designer__sparkline" type="classic-page" :entity-id="selectedPage.id"></cms-sparkline>
      <div class="cosmo-toolbar is--designer">
        <div class="cosmo-toolbar__group">
          <button @click="openEditDialog" class="cosmo-button" x-localize:pages_and_forms-classic-action-edit></button>
          <button @click="deletePage" class="cosmo-button" x-localize:pages_and_forms-classic-action-delete></button>
        </div>
      </div>
      <div class="jinya-designer__content is--simple-page">
        <div :class="{ 'is--negative': messageError, 'is--positive': !messageError }"
             class="cosmo-message is--simple-page" x-show="hasMessage">
          <span class="cosmo-message__header" x-text="messageTitle"></span>
          <p class="cosmo-message__message" x-text="messageContent"></p>
        </div>
        <cms-toolbar-editor class="jinya-editor is--simple-page" :content="content" @change="(e) => content = e.value"
                            height="calc(var(--page-height) - 2.75rem - 1.25rem - 2rem - 2rem - 0.25rem - 3rem)"></cms-toolbar-editor>
        <div class="cosmo-button__container is--simple-page">
          <button @click="selectPage(selectedPage)" class="cosmo-button"
                  id="discard-changes" x-localize:pages_and_forms-classic-action-discard_content></button>
          <button @click="savePage" class="cosmo-button is--primary"
                  id="save-changes" x-localize:pages_and_forms-classic-action-save_content></button>
        </div>
      </div>
    </div>
  </template>
  <template x-if="create.open">
    <form @submit.prevent="createPage" class="cosmo-modal__container">
      <div class="cosmo-modal is--files">
        <h1 class="cosmo-modal__title" x-localize:pages_and_forms-classic-create-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="create.error.hasError">
            <span class="cosmo-message__header" x-text="create.error.title"></span>
            <p class="cosmo-message__message" x-text="create.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label class="cosmo-label" for="createPageTitle"
                   x-localize:pages_and_forms-classic-create-page_title></label>
            <input class="cosmo-input" id="createPageTitle" required type="text" x-model="create.title" />
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="create.open = false" class="cosmo-button" type="button"
                  x-localize:pages_and_forms-classic-create-cancel></button>
          <button class="cosmo-button" type="submit" x-localize:pages_and_forms-classic-create-create></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="edit.open">
    <form @submit.prevent="updatePage" class="cosmo-modal__container">
      <div class="cosmo-modal is--files">
        <h1 class="cosmo-modal__title" x-localize:pages_and_forms-classic-edit-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="edit.error.hasError">
            <span class="cosmo-message__header" x-text="edit.error.title"></span>
            <p class="cosmo-message__message" x-text="edit.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label class="cosmo-label" for="editPageTitle" x-localize:pages_and_forms-classic-edit-page_title></label>
            <input class="cosmo-input" id="editPageTitle" required type="text" x-model="edit.title" />
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button @click="edit.open = false" class="cosmo-button" type="button"
                  x-localize:pages_and_forms-classic-edit-cancel></button>
          <button class="cosmo-button" type="submit" x-localize:pages_and_forms-classic-edit-update></button>
        </div>
      </div>
    </form>
  </template>
</div>
