<li>
    <div class="item">
        <div class="item-content">
            {% if item.highlighted %}
                <i class="fa fa-asterisk" aria-hidden="true"></i>
            {% endif %}
            <span>{{ item.title }}</span><br/>
            <small><a target="_blank" href="{{ item.route.url }}">{{ item.route.url }}</a></small>
        </div>
        {% if item.children|length > 0 %}
            <ul>
                {% for child in item.children %}
                    {% include '@Designer/menu/MenuItem.html.twig' with { 'item': child } %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</li>