{% extends '@Designer/base.html.twig' %}
{% block menu_bottom_links %}
    <a href="{{ url('designer_menu_add') }}" title="{{ 'layout.designer.menu.header.add'|trans }}"><i
                class="fa fa-plus"></i></a>
    {% block menu_bottom_links_menu_specific %}
    {% endblock %}
{% endblock %}

{% block scripts_custom %}
    {% javascripts filter='jsqueeze' '@designer_menu_js' output='public/js/designer/menu.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}