<div class="cosmo-side-list" x-data="menusData">
  <nav class="cosmo-side-list__items">
    <template x-for="menu in menus" :key="menu.id">
      <a class="cosmo-side-list__item" x-text="menu.name" :class="{ 'is--active': selectedMenu?.id === menu.id }"
         @click="selectMenu(menu)"></a>
    </template>
    <button class="cosmo-button is--full-width" x-localize:design-menus-action-new
            @click="openCreateDialog"></button>
  </nav>
  <template x-if="selectedMenu">
    <div class="cosmo-side-list__content jinya-designer">
      <div class="jinya-designer__title">
        <span class="cosmo-title" x-text="selectedMenu.name"></span>
      </div>
      <div class="cosmo-toolbar is--menu">
        <div class="cosmo-toolbar__group">
          <button class="cosmo-button" x-localize:design-menus-action-edit @click="openEditDialog"></button>
          <button class="cosmo-button" x-localize:design-menus-action-delete @click="deleteMenu"></button>
        </div>
        <div class="cosmo-toolbar__group">
          <button class="cosmo-button is--primary" x-localize:design-menus-action-save_items
                  @click="saveItems"></button>
        </div>
      </div>
      <div class="jinya-menu-designer">
        <div class="cosmo-message is--menu"
             :class="{ 'is--negative': updateItems.message.isNegative, 'is--positive': !updateItems.message.isNegative }"
             x-show="updateItems.message.hasMessage">
          <span class="cosmo-message__header" x-text="updateItems.message.title"></span>
          <p class="cosmo-message__message" x-text="updateItems.message.content"></p>
        </div>
        <template x-for="(item, index) in items" :key="index">
          <div style="display: contents">
            <button class="cosmo-button is--circle is--primary is--add is--menu" @click="openAddItemDialog(index)">
              <svg class="jinya-icon is--add is--menu" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                   stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
              </svg>
            </button>
            <div class="jinya-designer-item is--menu" :style="{ '--nesting': item.nesting }" draggable="true"
                 @dragstart="startItemDrag(item, index)"
                 @dragover.prevent="dragOver(item, index)">
              <span class="jinya-designer-item__title" x-text="getItemTitle(item)"></span>
              <div class="jinya-designer-item__details is--menu" x-data="{ itemLabel: getItemLabel(item) }">
                <svg width="1rem" height="1rem" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" :fill="item.highlighted ? 'var(--primary-color)' : 'none'"
                     stroke="var(--primary-color)">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                </svg>
                <span x-text="item.title"></span>
                <template x-if="itemLabel">
                  <div style="display: contents">
                    –
                    <span x-text="itemLabel"></span>
                  </div>
                </template>
                <template x-if="item.route">
                    <span>
                      (<a href="" x-text="item.route"></a>)
                    </span>
                </template>
              </div>
              <div class="jinya-designer-item__edit">
                <button class="cosmo-button is--icon is--primary" @click="decreaseItemNesting(item, index)"
                        :disabled="item.nesting === 0" x-localize:design-menus-action-decrease_nesting.title>
                  <svg viewBox="0 0 24 24">
                    <polyline points="7 8 3 12 7 16" />
                    <line x1="21" x2="11" y1="12" y2="12" />
                    <line x1="21" x2="11" y1="6" y2="6" />
                    <line x1="21" x2="11" y1="18" y2="18" />
                  </svg>
                </button>
                <button class="cosmo-button is--icon is--primary" @click="increaseItemNesting(item, index)"
                        :disabled="index === 0 || item.nesting > items[index - 1].nesting"
                        x-localize:design-menus-action-increase_nesting.title>
                  <svg viewBox="0 0 24 24">
                    <polyline points="3 8 7 12 3 16" />
                    <line x1="21" x2="11" y1="12" y2="12" />
                    <line x1="21" x2="11" y1="6" y2="6" />
                    <line x1="21" x2="11" y1="18" y2="18" />
                  </svg>
                </button>
                <button class="cosmo-button is--icon is--primary" @click="openEditItemDialog(item, index)"
                        x-localize:design-menus-action-edit_item.title>
                  <svg viewBox="0 0 24 24">
                    <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                    <path d="m15 5 4 4" />
                  </svg>
                </button>
                <button class="cosmo-button is--icon is--negative" @click="deleteItem(item, index)"
                        x-localize:design-menus-action-delete_item.title>
                  <svg viewBox="0 0 24 24">
                    <path d="M3 6h18" />
                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </template>
        <button class="cosmo-button is--circle is--primary is--add is--menu is--last"
                @click="openAddItemDialog(items.length)">
          <svg class="jinya-icon is--add is--menu" viewBox="0 0 24 24">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
        </button>
        <div class="jinya-designer-item is--empty is--menu"></div>
      </div>
    </div>
  </template>
  <template x-if="create.open">
    <form class="cosmo-modal__container" @submit.prevent="createMenu">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:design-menus-create-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="create.error.hasError">
            <span class="cosmo-message__header" x-text="create.error.title"></span>
            <p class="cosmo-message__message" x-text="create.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label for="createMenuName" class="cosmo-label" x-localize:design-menus-create-name></label>
            <input required type="text" id="createMenuName" class="cosmo-input" x-model="create.name">
            <label for="createMenuLogo" class="cosmo-label" x-localize:design-menus-create-logo></label>
            <button class="cosmo-input is--picker" id="createMenuLogo" :data-picker="create.picker.label" type="button"
                    @click="selectAddLogo" x-text="create.picker.selected"></button>
            <img :src="create.logoPath" alt="" class="jinya-picker__selected-file" x-show="create.logoId">
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" x-localize:design-menus-create-cancel
                  @click="create.open = false"></button>
          <button type="submit" class="cosmo-button" x-localize:design-menus-create-create></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="edit.open">
    <form class="cosmo-modal__container" @submit.prevent="updateMenu">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:design-menus-edit-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="edit.error.hasError">
            <span class="cosmo-message__header" x-text="edit.error.title"></span>
            <p class="cosmo-message__message" x-text="edit.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label for="editMenuName" class="cosmo-label" x-localize:design-menus-edit-name></label>
            <input required type="text" id="editMenuName" class="cosmo-input" x-model="edit.name">
            <label for="editMenuLogo" class="cosmo-label" x-localize:design-menus-edit-logo></label>
            <button class="cosmo-input is--picker" id="editMenuLogo" :data-picker="edit.picker.label" type="button"
                    @click="selectEditLogo" x-text="edit.picker.selected"></button>
            <img :src="edit.logoPath" alt="" class="jinya-picker__selected-file" x-show="edit.logoId">
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" x-localize:design-menus-edit-cancel
                  @click="edit.open = false"></button>
          <button type="submit" class="cosmo-button" x-localize:design-menus-edit-update></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="addItem.open">
    <form class="cosmo-modal__container" @submit.prevent="insertItem">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:design-menus-designer-add-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-input__group">
            <label for="addItemType" class="cosmo-label" x-localize:design-menus-designer-add-type></label>
            <select required class="cosmo-select" id="addItemType" x-model="addItem.type">
              <option x-localize:design-menus-designer-type_group value="type_group"></option>
              <option x-localize:design-menus-designer-type_external_link value="type_external_link"></option>
              <option x-localize:design-menus-designer-type_gallery value="type_gallery"
                      x-show="galleries.length > 0"></option>
              <option x-localize:design-menus-designer-type_classic_page value="type_classic_page"
                      x-show="classicPages.length > 0"></option>
              <option x-localize:design-menus-designer-type_modern_page value="type_modern_page"
                      x-show="modernPages.length > 0"></option>
              <option x-localize:design-menus-designer-type_form value="type_form" x-show="forms.length > 0"></option>
              <option x-localize:design-menus-designer-type_artist value="type_artist"
                      x-show="artists.length > 0"></option>
              <option x-localize:design-menus-designer-type_blog_home_page value="type_blog_home_page"></option>
              <option x-localize:design-menus-designer-type_blog_category value="type_blog_category"
                      x-show="blogCategories.length > 0"></option>
            </select>
            <label for="addItemTitle" class="cosmo-label" x-localize:design-menus-designer-add-item_title></label>
            <input required type="text" id="addItemTitle" class="cosmo-input" x-model="addItem.title">
            <template x-if="addItem.type !== 'type_group'">
              <div style="display: contents">
                <label for="addItemRoute" class="cosmo-label" x-localize:design-menus-designer-add-route></label>
                <input required type="text" id="addItemRoute" class="cosmo-input" x-model="addItem.route">
              </div>
            </template>
            <template x-if="addItem.type === 'type_gallery'">
              <div style="display: contents">
                <label for="addItemGallery" class="cosmo-label" x-localize:design-menus-designer-type_gallery></label>
                <select required class="cosmo-select" id="addItemGallery" x-model="addItem.gallery">
                  <template x-for="gallery in galleries" :key="gallery.id">
                    <option x-text="getDropdownLabel(gallery.id, gallery.name)" :value="gallery.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="addItem.type === 'type_form'">
              <div style="display: contents">
                <label for="addItemForm" class="cosmo-label" x-localize:design-menus-designer-type_form></label>
                <select required class="cosmo-select" id="addItemForm" x-model="addItem.form">
                  <template x-for="form in forms" :key="form.id">
                    <option x-text="getDropdownLabel(form.id, form.title)" :value="form.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="addItem.type === 'type_classic_page'">
              <div style="display: contents">
                <label for="addItemClassicPage" class="cosmo-label"
                       x-localize:design-menus-designer-type_classic_page></label>
                <select required class="cosmo-select" id="addItemClassicPage" x-model="addItem.classicPage">
                  <template x-for="classicPage in classicPages" :key="classicPage.id">
                    <option x-text="getDropdownLabel(classicPage.id, classicPage.title)"
                            :value="classicPage.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="addItem.type === 'type_modern_page'">
              <div style="display: contents">
                <label for="addItemModernPage" class="cosmo-label"
                       x-localize:design-menus-designer-type_modern_page></label>
                <select required class="cosmo-select" id="addItemModernPage" x-model="addItem.modernPage">
                  <template x-for="modernPage in modernPages" :key="modernPage.id">
                    <option x-text="getDropdownLabel(modernPage.id, modernPage.name)" :value="modernPage.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="addItem.type === 'type_blog_category'">
              <div style="display: contents">
                <label for="addItemBlogCategory" class="cosmo-label"
                       x-localize:design-menus-designer-type_blog_category></label>
                <select required class="cosmo-select" id="addItemBlogCategory" x-model="addItem.blogCategory">
                  <template x-for="blogCategory in blogCategories" :key="blogCategory.id">
                    <option x-text="getDropdownLabel(blogCategory.id, blogCategory.name)"
                            :value="blogCategory.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="addItem.type === 'type_artist'">
              <div style="display: contents">
                <label for="addItemArtist" class="cosmo-label" x-localize:design-menus-designer-type_artist></label>
                <select required class="cosmo-select" id="addItemArtist" x-model="addItem.artist">
                  <template x-for="artist in artists" :key="artist.id">
                    <option x-text="getDropdownLabel(artist.id, artist.artistName)" :value="artist.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <div class="cosmo-input__group is--checkbox">
              <input type="checkbox" id="addItemHighlighted" class="cosmo-checkbox" x-model="addItem.highlighted">
              <label for="addItemHighlighted" class="cosmo-label"
                     x-localize:design-menus-designer-add-is_highlighted></label>
            </div>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" x-localize:design-menus-designer-add-cancel
                  @click="addItem.open = false"></button>
          <button type="submit" class="cosmo-button" x-localize:design-menus-designer-add-create></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="editItem.open">
    <form class="cosmo-modal__container" @submit.prevent="updateItem">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:design-menus-designer-edit-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-input__group">
            <label for="editItemTitle" class="cosmo-label" x-localize:design-menus-designer-edit-item_title></label>
            <input required type="text" id="editItemTitle" class="cosmo-input" x-model="editItem.title">
            <template x-if="editItem.type !== 'type_group'">
              <div style="display: contents">
                <label for="editItemRoute" class="cosmo-label" x-localize:design-menus-designer-edit-route></label>
                <input required type="text" id="editItemRoute" class="cosmo-input" x-model="editItem.route">
              </div>
            </template>
            <template x-if="editItem.type === 'type_gallery'">
              <div style="display: contents">
                <label for="editItemGallery" class="cosmo-label" x-localize:design-menus-designer-type_gallery></label>
                <select required class="cosmo-select" id="editItemGallery" x-model="editItem.gallery">
                  <template x-for="gallery in galleries" :key="gallery.id">
                    <option :selected="gallery.id === editItem.gallery"
                            x-text="getDropdownLabel(gallery.id, gallery.name)" :value="gallery.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="editItem.type === 'type_form'">
              <div style="display: contents">
                <label for="editItemForm" class="cosmo-label" x-localize:design-menus-designer-type_form></label>
                <select required class="cosmo-select" id="editItemForm" x-model="editItem.form">
                  <template x-for="form in forms" :key="form.id">
                    <option :selected="form.id === editItem.form" x-text="getDropdownLabel(form.id, form.title)"
                            :value="form.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="editItem.type === 'type_classic_page'">
              <div style="display: contents">
                <label for="editItemClassicPage" class="cosmo-label"
                       x-localize:design-menus-designer-type_classic_page></label>
                <select required class="cosmo-select" id="editItemClassicPage" x-model="editItem.classicPage">
                  <template x-for="classicPage in classicPages" :key="classicPage.id">
                    <option :selected="classicPage.id === editItem.gallery"
                            x-text="getDropdownLabel(classicPage.id, classicPage.title)"
                            :value="classicPage.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="editItem.type === 'type_modern_page'">
              <div style="display: contents">
                <label for="editItemModernPage" class="cosmo-label"
                       x-localize:design-menus-designer-type_modern_page></label>
                <select required class="cosmo-select" id="editItemModernPage" x-model="editItem.modernPage">
                  <template x-for="modernPage in modernPages" :key="modernPage.id">
                    <option :selected="modernPage.id === editItem.modernPage"
                            x-text="getDropdownLabel(modernPage.id, modernPage.name)" :value="modernPage.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="editItem.type === 'type_blog_category'">
              <div style="display: contents">
                <label for="editItemBlogCategory" class="cosmo-label"
                       x-localize:design-menus-designer-type_blog_category></label>
                <select required class="cosmo-select" id="editItemBlogCategory" x-model="editItem.blogCategory">
                  <template x-for="blogCategory in blogCategories" :key="blogCategory.id">
                    <option :selected="blogCategory.id === editItem.blogCategory"
                            x-text="getDropdownLabel(blogCategory.id, blogCategory.name)"
                            :value="blogCategory.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <template x-if="editItem.type === 'type_artist'">
              <div style="display: contents">
                <label for="editItemArtist" class="cosmo-label" x-localize:design-menus-designer-type_artist></label>
                <select required class="cosmo-select" id="editItemArtist" x-model="editItem.artist">
                  <template x-for="artist in artists" :key="artist.id">
                    <option :selected="artist.id === editItem.artist"
                            x-text="getDropdownLabel(artist.id, artist.artistName)" :value="artist.id"></option>
                  </template>
                </select>
              </div>
            </template>
            <div class="cosmo-input__group is--checkbox">
              <input type="checkbox" id="editItemHighlighted" class="cosmo-checkbox" x-model="editItem.highlighted">
              <label for="editItemHighlighted" class="cosmo-label"
                     x-localize:design-menus-designer-edit-is_highlighted></label>
            </div>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" x-localize:design-menus-designer-edit-cancel
                  @click="editItem.open = false"></button>
          <button type="submit" class="cosmo-button" x-localize:design-menus-designer-edit-update></button>
        </div>
      </div>
    </form>
  </template>
</div>
