{%- block menuitem -%}
    <li class="jinya-submenu__item {% if isChildActiveMenuItem(item) %}jinya-submenu__item--active{% endif %} {% if item.highlighted %}jinya-submenu__item--highlight{% endif %}">
        {% if item.children is not empty %}
            {{- item.title -}}
            {% include '@Theme/jinya-default-theme/include/submenu/submenu.html.twig' with {'item': item} %}
        {% else %}
            {% include '@Theme/jinya-default-theme/include/menu_link.html.twig' with {'item': item, 'class': 'jinya-submenu__link'} %}
        {% endif %}
    </li>
{%- endblock -%}