{%- block menuitem -%}
    <li class="jinya-submenu__item {% if isActiveMenuItem(item) %}is--active{% endif %}">
        {% if item.children is not empty %}
            <a class="jinya-submenu__link {% if isActiveMenuItem(item) %}is--active{% endif %} {% if item.highlighted %}is--highlight{% endif %}">{{- item.title -}}</a>
            {% include '@Theme/jinya-default-theme/include/submenu/submenu.html.twig' with {'item': item} %}
        {% else %}
            {% include '@Theme/jinya-default-theme/include/menu_link.html.twig' with {'item': item, 'class': 'jinya-submenu__link'} %}
        {% endif %}
    </li>
{%- endblock -%}