<div class="cosmo-side-list" x-data="phpInfoData">
  <nav class="cosmo-side-list__items">
    <a class="cosmo-side-list__item" x-localize:maintenance-php-system_and_server
       :class="{ 'is--active': selectedExtension === null }" @click="selectedExtension = null"></a>
    <template x-for="extension in Object.keys(phpInfo.extensions)">
      <a class="cosmo-side-list__item" x-text="extension" :class="{ 'is--active': extension === selectedExtension }"
         @click="selectedExtension = extension"></a>
    </template>
  </nav>
  <div class="cosmo-side-list__content">
    <template x-if="selectedExtension">
      <div style="display: contents">
        <span class="cosmo-title" x-text="selectedExtension"></span>
        <dl class="cosmo-list is--key-value">
          <template x-for="[key, value] in Object.entries(phpInfo.extensions[selectedExtension])" :key="key">
            <template x-if="key !== 'ini'">
              <div style="display: contents">
                <dt x-text="key"></dt>
                <dd x-text="value"></dd>
              </div>
            </template>
          </template>
        </dl>
        <template x-if="Object.keys(phpInfo.extensions[selectedExtension].ini).length > 0">
          <div style="display: contents">
            <h2 x-localize:maintenance-php-extension-ini_values></h2>
            <table class="cosmo-table">
              <thead>
              <tr>
                <th x-localize:maintenance-php-ini-name></th>
                <th x-localize:maintenance-php-ini-value></th>
              </tr>
              </thead>
              <tbody>
              <template x-for="[iniKey, iniValue] in Object.entries(phpInfo.extensions[selectedExtension].ini)" :key="iniKey">
                <tr>
                  <td x-text="iniKey"></td>
                  <td x-text="iniValue"></td>
                </tr>
              </template>
              </tbody>
            </table>
          </div>
        </template>
      </div>
    </template>
    <template x-if="!selectedExtension">
      <div style="display: contents">
        <span class="cosmo-title" x-localize:maintenance-php-system_and_server></span>
        <h2 x-localize:maintenance-php-about></h2>
        <dl class="cosmo-list is--key-value">
          <template x-for="[key, value] in Object.entries(phpInfo.about)" :key="key">
            <div style="display: contents">
              <dt x-text="key"></dt>
              <dd x-text="value"></dd>
            </div>
          </template>
        </dl>
        <template x-if="phpInfo.apache">
          <div style="display: contents">
            <h2 x-localize:maintenance-php-apache></h2>
            <dl class="cosmo-list is--key-value">
              <template x-for="[key, value] in Object.entries(phpInfo.apache)" :key="key">
                <div style="display: contents">
                  <dt x-text="key"></dt>
                  <dd x-text="value"></dd>
                </div>
              </template>
            </dl>
          </div>
        </template>
      </div>
    </template>
  </div>
</div>
