{% extends '@Designer/page/page.base.html.twig' %}
{% block header %}{{ 'layout.designer.page.header.index'|trans }}{% endblock %}
{% block content %}
    <div class="list">
        {% for page in pages %}
            <a class="card" href="{{ url('designer_page_details', { 'slug': page.slug }) }}">
                <div class="card-body">
                    <h4 class="card-title">{{ page.title }}</h4>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}