.gallery-images {
  text-align: center;
  position: relative;

  &.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 7.5%;
    padding-left: 2em;
    height: 100%;
    display: flex;

    .gallery-image {
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 0;

      .gallery-image-content {
        display: flex;
        flex: 0 0 100%;

        .gallery-image-action {
          width: 8em;
        }

        .gallery-image-content {
          height: 100%;
        }

        .gallery-image-image,
        .gallery-image-action {
          display: flex;
          height: 100%;

          > img {
            height: 100%;
          }
        }
      }
      .gallery-image-action-bar {
        flex: 0 0 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: -18px;
        .button-bar {
          margin-left: 7.5em;
          text-align: left;
          padding-right: 2px;

          .button-action-left {
            float: left;
          }

          .button-action-right {
            float: right;
            margin-right: -2px;
          }
        }
      }
    }
  }

  &.vertical-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2em;
    height: 100%;

    .gallery-image {
      display: block;
      flex: unset;
      position: relative;

      .gallery-image-content {
        width: 100%;

        .gallery-image-action {
          height: 8em;
        }
        .gallery-image-image {
          border-bottom: none;
          border-top: none;
        }
        .gallery-image-image,
        .gallery-image-action {
          width: 100%;

          > img {
            width: 100%;
          }
        }
      }

      .button-action-move {
        @extend .button.primary;
        min-width: calc(100% - 1.2em);
        max-width: calc(100% - 1.2em);
        border: none;
        padding: 0.5em;
        margin-left: 0.6em;
        margin-right: 0.6em;
        outline: none;
      }
    }
  }

  .gallery-image {
    .gallery-image-content {
      .gallery-image-image,
      .gallery-image-action {
        position: relative;
        border: 10px solid transparent;

        .gallery-image-edit,
        .gallery-image-add,
        .gallery-image-edit-button {
          cursor: pointer;
          transition: transform 0.3s, background 0.3s, opacity 0.3s;
          transform: scale3d(1, 1, 1);

          &:hover {
            background: darken($gray-100, 6%);
            transform: scale3d(0.95, 0.95, 1);
          }
        }
        .gallery-image-edit-button {
          background: $gray-100;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 10;

          &:hover {
            opacity: 0.8;
            border-radius: 4px;

            + .gallery-image-edit {
              background: darken($gray-100, 6%);
              transform: scale3d(0.95, 0.95, 1);
              border-radius: 4px;
            }
          }
          &::before, &::after {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -0.35em;
            width: 100%;
            color: $primary;
            font-size: 1.5em;
            font-family: FontAwesome;
            pointer-events: none;
          }
          &::before {
            content: '\f040';
          }
          &::after {
            margin-top: -0.5em;
            color: $primary;
            content: '\f040';
            font-size: 3em;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: scale3d(2, 2, 1);
          }
        }
        .gallery-image-edit {
          opacity: 1;
          z-index: 8;
        }
        > div {
          width: 100%;
          height: 100%;

          &.gallery-image-add {
            border-radius: 4px;
            background: darken($gray-100, 2%);

            &::before, &::after {
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -0.35em;
              width: 100%;
              color: $primary;
              font-size: 1.5em;
              font-family: FontAwesome;
              pointer-events: none;
            }
            &::before {
              content: '\f067';
            }
            &::after {
              margin-top: -0.5em;
              color: $primary;
              content: '\f00c';
              font-size: 3em;
              opacity: 0;
              transition: opacity 0.3s, transform 0.3s;
              transform: scale3d(2, 2, 1);
            }
          }
        }
      }
    }
    .gallery-image-action-bar {
      .button-bar {
        .button-action-left {
          @extend .button;
          @extend .button.primary;
        }
        .button-action-right {
          @extend .button;
          @extend .button.primary;
        }
      }
    }
  }
}

.md-modal {
  .md-content {
    > div.image-gallery {
      height: 35rem;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1.5rem;

      .image-gallery-entry {
        width: 14rem;
        height: 10rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border: solid $primary 1px;
        border-radius: 3px;
        transition: all 0.2s linear;
        display: inline-block;
        position: relative;

        .mask {
          width: 14rem;
          height: 10rem;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(219, 127, 8, 0.7);
          transition: all 0.4s ease-in-out;
          border-radius: 3px;
        }
        img {
          transition: all 0.2s linear;
          display: block;
          position: relative;
          height: 9rem;
          width: 13rem;
          object-fit: cover;
        }
        .mask-header {
          transform: translateY(-100px);
          opacity: 0;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          position: relative;
          font-size: 17px;
          padding: 10px;
          background: rgba(0, 0, 0, 0.8);
          margin: 20px 0 0 0;
          display: block;
        }
        .mask-content {
          transform: translateY(100px);
          opacity: 0;
          transition: all 0.2s linear;
          font-family: Georgia, serif;
          font-style: italic;
          font-size: 12px;
          position: relative;
          color: #fff;
          padding: 10px 20px 20px;
          text-align: center;
        }
        .info {
          display: inline-block;
          text-decoration: none;
          padding: 7px 14px;
          background: #000;
          color: #fff;
          text-transform: uppercase;
          box-shadow: 0 0 1px #000;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          text-align: center;
          width: 80%;
          margin-left: 10%;

          &:hover {
            box-shadow: 0 0 5px #000;
          }
        }
        &:hover {
          padding: 0.5rem;
          border-color: transparent;

          .mask {
            opacity: 1;
          }
          .mask-header,
          .mask-content,
          .info {
            opacity: 1;
            transform: translateY(0px);
          }
          .mask-content {
            transition-delay: 0.1s;
          }
          .info {
            transition-delay: 0.2s;
          }
          img {
            height: 10rem;
            width: 14rem;
            margin: -0.5rem;
            border-radius: 3px;
          }
        }

        &.selected {
          border-width: 0.5rem;
          padding: 0;

          &:hover {
            padding: 0.5rem;
            border-width: 1px;
          }
        }
      }
    }
  }
}