.gallery-images {
  text-align: center;
  display: flex;
  position: relative;

  &.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 7.5%;
    padding-left: 2em;
    height: 100%;

    .gallery-image {
      display: inline-block;
      height: 80%;

      > img {
        height: 100%;
      }
    }
  }

  &.vertical-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2em;
    height: 100%;

    .gallery-image {
      flex-basis: 100%;
      width: 80%;

      > img {
        width: 100%;
      }
    }
  }

  .gallery-image {
    position: relative;
    border: 10px solid transparent;
    flex: 0 0 auto;

    &.gallery-image-action {
      width: 50%;
    }

    .gallery-image-edit,
    .gallery-image-add,
    .gallery-image-edit-button {
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.3s, background 0.3s, opacity 0.3s;
      transition: transform 0.3s, background 0.3s, opacity 0.3s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);

      &:hover {
        background: darken($gray-100, 6%);
        -webkit-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
      }
    }
    .gallery-image-edit-button {
      background: $gray-100;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 10;

      &:hover {
        opacity: 0.8;
        border-radius: 4px;

        + .gallery-image-edit {
          background: darken($gray-100, 6%);
          -webkit-transform: scale3d(0.95, 0.95, 1);
          transform: scale3d(0.95, 0.95, 1);
          border-radius: 4px;
        }
      }
      &::before, &::after {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.35em;
        width: 100%;
        color: $primary;
        font-size: 1.5em;
        font-family: FontAwesome;
        pointer-events: none;
      }
      &::before {
        content: '\f040';
      }
      &::after {
        margin-top: -0.5em;
        color: $primary;
        content: '\f040';
        font-size: 3em;
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: scale3d(2, 2, 1);
        transform: scale3d(2, 2, 1);
      }
    }
    .gallery-image-edit {
      opacity: 1;
      z-index: 8;
    }
    > div {
      width: 100%;
      height: 100%;

      &.gallery-image-add {
        border-radius: 4px;
        background: darken($gray-100, 2%);

        &::before, &::after {
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -0.35em;
          width: 100%;
          color: $primary;
          font-size: 1.5em;
          font-family: FontAwesome;
          pointer-events: none;
        }
        &::before {
          content: '\f067';
        }
        &::after {
          margin-top: -0.5em;
          color: $primary;
          content: '\f00c';
          font-size: 3em;
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transform: scale3d(2, 2, 1);
          transform: scale3d(2, 2, 1);
        }
      }
    }
  }
}
