.md-show {
  .md-overlay {
    background: transparentize($primary, 0.5);
    opacity: 1;
    visibility: visible;
  }
}

.md-modal.md-show {
  visibility: visible;

  .md-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 50rem;
  min-width: 20rem;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

  .md-content {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: $gray-100;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;

    .md-title {
      margin: 0;
      padding: 0.4em;
      text-align: center;
      font-size: 2.4em;
      font-weight: 300;
      background: $primary;
      border-radius: 3px 3px 0 0;
      color: $gray-100;
      display: block;

      > img {
        height: 1.5em;
        float: left;
      }
    }

    img {
      height: 10em;
      display: block;
    }

    > div {
      padding: 15px 40px 30px;
      margin: 0;
      font-weight: 300;
      font-size: 1.15em;

      p {
        margin: 0;
        padding: 10px 0;
      }

      ul {
        margin: 0;
        padding: 0 0 30px 20px;
        li {
          padding: 5px 0;
        }
      }
    }

    .md-footer {
      border-radius: 0 0 3px 3px;
    }
  }
}