@mixin tab-menu-item-before-after() {
  content: '';
  position: absolute;
  bottom: 0;
  background: $primary;
}

.tab-menu {
  line-height: 1;
  margin: 0 auto;

  .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
      display: block;
      margin: 1em 0 0;
      position: relative;

      &.active {
        &::before,
        &::after {
          opacity: 1;
          transform: scale3d(1, 1, 1);
          transition: transform 0.3s;
          transition-delay: 0.3s;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }

        a {
          color: #d94f5c;

          &::after {
            transform: translate3d(0, -48px, 0);
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          }
        }
      }

      &::before,
      &::after {
        @include tab-menu-item-before-after;
        width: 2px;
        height: 100%;
        opacity: 0;
        transform: scale3d(1, 0, 1);
        transform-origin: 50% 0%;
        transition: transform 0s 0.1s, opacity 0.1s;
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }

      a {
        font-size: 1.05em;
        font-weight: bold;
        display: block;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: relative;
        min-width: 115px;
        height: 50px;
        padding: 1em 1.5em;
        text-align: center;
        color: $text-muted;
        transition: color 0.3s;
        text-decoration: none;

        &:hover,
        &:focus {
          outline: none;
          color: darken($primary, 20%);
        }
        &::after {
          @include tab-menu-item-before-after;
          left: 0;
          width: 100%;
          height: 2px;
          transition: transform 0.3s;
        }
      }
    }
  }
}

.tab-content {
  .page {
    display: none;
    height: 600px;
    overflow-y: auto;

    &.active {
      display: block;
    }
  }
}