{% block header %}
    <header class="jinya-header">
        {% block menu %}
            {% include '@Themes/jinya-default-theme/include/menu/menu.html.twig' %}
        {% endblock %}
        {% block brand %}
            <span class="jinya-brand">
                {{ theme.active.primaryMenu.name }}
            </span>
            <button class="jinya-menu__hamburger">
                <span class="jinya-menu-hamburger__bar"></span>
                <span class="jinya-menu-hamburger__bar"></span>
                <span class="jinya-menu-hamburger__bar"></span>
            </button>
        {% endblock %}
    </header>
{% endblock %}
