<a class="{{ class }} {% if isChildActiveMenuItem(item) or active == item.route.url %}is--active{% endif %} {% if item.highlighted %}is--highlight{% endif %}"
   href="
        {%- if item.route.url is not empty and item.route.url != '/#' -%}
            {{- item.route.url -}}
        {%- endif -%}
"
        {%- if item.pageType == 'external' %} target=" _blank"{%- endif -%}
>
    {{- item.title -}}
</a>