<li class="{% if isChildActiveMenuItem(item) %}open{% endif %} {% if item.highlighted %}highlight{% endif %}">
    <a class="{% if isActiveMenuItem(item) %}active{% endif %}" href="{{ item.route.url }}"
            {% if item.pageType == 'external' %}
                target="_blank"
            {% endif %}
    >{{ item.title }}</a>
    {% if item.children is not empty %}
        <ul>
            {% for child in item.children %}
                {% include '@Theme/jinya_gallery_default_theme/Frontend/include/menuitem.html.twig' with {'item': child} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>