<div class="menu">
    {% if themeConfig.menu.name.display %}
        <h1 class="title">{{ menu.name }}</h1>
    {% endif %}
    {% if menu.logo %}
        <a class="logo" href="/">
            <img src="{{ menu.logo }}" alt="">
        </a>
    {% endif %}
    <ul>
        {% for item in menu.menuItems %}
            {% include '@Theme/jinya_gallery_default_theme/Frontend/include/menuitem.html.twig' %}
        {% endfor %}
    </ul>
</div>