<li class="{% if isChildActiveMenuItem(item) %}active{% endif %} {% if item.highlighted %}highlight{% endif %}"
    id="menu-{{ item.id }}">
    <a class="{% if isActiveMenuItem(item) %}active{% endif %}" href="
    {% if item.route.url is not empty and item.route.url != '/#' %}
        {{ item.route.url }}
    {% else %}
        #menu-{{ item.id }}
    {% endif %}
"
            {% if item.pageType == 'external' %}
                target="_blank"
            {% endif %}
    >{{ item.title }}</a>
    {% if item.children is not empty %}
        <ul>
            {% for child in item.children %}
                {% include '@Theme/jinya_gallery_default_theme/Frontend/include/menuitem.html.twig' with {'item': child} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>