
.jinya-app[data-v-050acc02] {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
.jinya-app__navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
}
.jinya-app__background {
        z-index: -1;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
}
.jinya-app__content {
        height: 100%;
        width: 100%;
}
.jinya-app__router-view {
        padding: 0 10% 0;
}
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: $font-family;
    margin: 0;
    overflow: auto;
    padding-top: 60px;
}
a {
    color: $primary;
&:hover {
        color: $primary-darker;
}
}
h1, h2, h3, h4, h5, h6 {
    color: $primary;
    font-family: $font-family-heading;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
.sr--only {
    display: none;
@media speech {
        display: inline-block;
}
}

.jinya-menu__header[data-v-12c8831a] {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: $primary-lighter;
}

.jinya-menu__navbar[data-v-05162b4e] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    background: $primary;
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
.jinya-menu__hamburger {
        background: $primary;
        cursor: pointer;
        margin: 0;
        background: $primary;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px;
        color: white;
        width: 75px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
&:hover {
            background: $white;
.jinya-menu__hamburger__bar {
                background: $primary;
}
}
.jinya-menu__hamburger__bar {
            height: 5px;
            width: 80%;
            background: $white;
            margin: 2.5px 10%;
            display: block;
}
}
}

.jinya-menu-navbar__item[data-v-61d2abce] {
    line-height: 60px;
    color: $white;
    list-style: none;
    margin: 0;
    background: $primary;
    padding: 0 5px;
&:hover {
        background: $white;
.jinya-menu-navbar__link {
            color: $primary;
}
}
&.is--selected {
        background: $white;
        color: $primary;
}
&.is--end {
        -ms-flex-item-align: end;
            align-self: flex-end;
}
&.is--start {
        -ms-flex-item-align: start;
            align-self: flex-start;
}
.jinya-menu-navbar__link {
        margin-top: auto;
        margin-bottom: auto;
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        font-variant: all-small-caps;
        display: block;
        cursor: pointer;
&:hover {
            background: $white;
            color: $primary;
}
}
}

.jinya-menu__flyout[data-v-3add98a4] {
    width: 100%;
}

.jinya-menu-flyout__navbar__item[data-v-c2a7b6ba] {
    color: $white;
    font-size: 1.2rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
&.is--selected {
        background: $primary;
        color: $white;
        font-size: 1.3rem;
.jinya-menu-flyout__navbar__item__link {
            text-decoration: none;
            color: $white;
            outline: none;
}
}
.jinya-menu-flyout__navbar__item__link {
        text-decoration: none;
        padding: 0 1em;
        color: $primary;
}
}

.jinya-menu-flyout__navbar[data-v-44e2d0ed] {
    width: 100%;
    display: none;
    border-bottom: 3px solid $primary;
    background: $white;
    position: fixed;
    top: 0;
    left: 75px;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 57px;
&.is--open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
}
}

.jinya-menu-flyout__menu[data-v-d1a1a792] {
    background: $primary;
    display: none;
    position: fixed;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
&.is--open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
}
}

.jinya-menu-flyout__menu__section[data-v-4cea3802] {
    margin: 1em 2.5em 3em;
&:first-child {
        margin-left: 1.3em;
}
&:last-child {
        margin-right: 0;
}
h4 {
        color: $primary-lighter;
        font-size: 1.7rem;
        font-weight: 200;
        margin: 0;
        padding: 0;
}
.jinya-menu-flyout__menu__items {
        list-style: none;
        padding: 0;
        margin: 1em 0 0;
}
}

.jinya-menu-flyout__menu__item[data-v-7834aceb] {
    color: $white;
    margin: 0 0 1em;
&:last-of-type {
        margin-bottom: 0;
}
a {
        color: $white;
        text-decoration: none;
}
}

.jinya-menu-navbar__item--search[data-v-2e2efd4a] {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
.jinya-menu-navbar__item--search__input {
        width: 25em;
        background: $primary;
        border: none;
        padding: 10px;
        font-size: 1em;
        font-family: $font-family;
        color: $white;
@mixin placeholder {
            color: $primary-lighter;
            opacity: 1;
}
&::-webkit-input-placeholder {
@include placeholder;
}
&:-ms-input-placeholder {
@include placeholder;
}
//noinspection CssInvalidPseudoSelector
        &::-ms-input-placeholder {
@include placeholder;
}
&::-webkit-input-placeholder {
@include placeholder;
}
&:-ms-input-placeholder {
@include placeholder;
}
&::-ms-input-placeholder {
@include placeholder;
}
&::placeholder {
@include placeholder;
}
&:focus {
            color: $white;
            outline: none;
}
}
.jinya-menu-navbar__item--search__button {
        width: 60px;
        height: 60px;
        background: transparent;
        color: $primary-lighter;
        border: none;
        font-size: 2em;
&:hover {
            color: $white;
}
}
}

.jinya-login[data-v-26e11710] {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
.jinya-login__background {
        z-index: -1;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
}
.jinya-login__form {
        margin: 10% 35% auto;
        padding: 1.5em 3em;
        height: auto;
        background-color: transparentize($gray-200, 0.2);
@include breakpoint-ultra-mobile {
            margin: 0;
}
@include breakpoint-tablet-landscape {
            margin-left: 30%;
            margin-right: 30%;
}
@include breakpoint-tablet-portrait {
            margin-left: 20%;
            margin-right: 20%;
}
@include breakpoint-mobile {
            margin-left: 10%;
            margin-right: 10%;
}
}
}

.jinya-input[data-v-0d2660fe] {
    font-size: 1rem;
    margin: 0 0 1em;
    width: 100%;
.jinya-input__label {
        display: inline-block;
}
.jinya-input__field {
        padding: 0.5em;
        outline: none;
        width: 100%;
        display: inline-block;
        border-style: none;
        border-bottom: solid 3px $form-underline-color;
        -webkit-transition: border-bottom-width 0.3s;
        transition: border-bottom-width 0.3s;
        font-family: $font-family;
        font-size: 90%;
&.is--disabled {
            background: $gray-200;
}
}
}

.jinya-button[data-v-278a0a10] {
    border: 2px solid;
    background: $white;
    min-width: 10em;
    display: inline-block;
    padding: 0.5em 1em;
    vertical-align: middle;
    position: relative;
    font-size: 100%;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
&:focus {
        outline: none;
}
&:hover {
        text-decoration: none;
}
@include button-variations;
}

.jinya-form {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow: auto;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
&__buttons {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
.jinya-button {
            margin-right: 0.5em;
            margin-left: 0.5em;
&:first-child {
                margin-left: 0;
}
&:last-child {
                margin-right: 0;
}
}
}
}






















.jinya-art-picture[data-v-18c853fa] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
&:hover {
        -o-object-fit: scale-down;
           object-fit: scale-down;
}
}

.jinya-card-list[data-v-48aafd78] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    overflow: hidden;
    padding: 1% 0;
.jinya-message {
        margin: 1em;
}
}

.jinya-message[data-v-7caf0617] {
    padding: 1rem;
    width: 100%;
&.is--error {
        color: $red;
        background: scale_color(pastelize($red), $alpha: 80%);
}
&.is--warning {
        color: $yellow;
        background: scale_color(pastelize($yellow), $alpha: 80%);
}
&.is--success {
        color: $green;
        background: scale_color(pastelize($green), $alpha: 80%);
}
&.is--info {
        color: $cyan;
        background: scale_color(pastelize($cyan), $alpha: 80%);
}
&.is--loading {
        background: scale_color(pastelize($primary), $alpha: 80%);
        overflow-x: hidden;
        position: relative;
        padding-top: 1.6em;
        color: $primary;
.jinya-message__progress {
            background: $primary;
            width: 150%;
            height: 0.6em;
            position: absolute;
            opacity: 0.4;
            top: 0;
            left: 0;
            right: 0;
}
.jinya-message__progress--increase {
            width: unset;
            -webkit-animation: increase 2s infinite;
                    animation: increase 2s infinite;
            opacity: 1;
@-webkit-keyframes increase {
from {
                    left: -5%;
                    width: 5%;
}
to {
                    left: 130%;
                    width: 100%;
}
}
@keyframes increase {
from {
                    left: -5%;
                    width: 5%;
}
to {
                    left: 130%;
                    width: 100%;
}
}
}
.jinya-message__progress--decrease {
            width: unset;
            -webkit-animation: decrease 2s 0.5s infinite;
                    animation: decrease 2s 0.5s infinite;
            opacity: 1;
@-webkit-keyframes decrease {
from {
                    left: -80%;
                    width: 80%;
}
to {
                    left: 110%;
                    width: 10%;
}
}
@keyframes decrease {
from {
                    left: -80%;
                    width: 80%;
}
to {
                    left: 110%;
                    width: 10%;
}
}
}
}
}

.jinya-card__item[data-v-445c0d84] {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 1em;
    -webkit-box-shadow: 0 0 1px 0 $primary;
            box-shadow: 0 0 1px 0 $primary;
    background: $white;
    border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
&:only-child {
.jinya-card__body {
            height: 30em;
}
}
&:hover {
        border: none;
        -webkit-box-shadow: 0 0 10px 0 scale_color($primary, $alpha: 80%);
                box-shadow: 0 0 10px 0 scale_color($primary, $alpha: 80%);
}
.jinya-card__header {
@extend h3;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid $primary;
}
.jinya-card__body {
        height: 15em;
        width: auto;
}
.jinya-card__footer {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0 0 10px 10px;
}
}

.jinya-navigation-pager[data-v-75a78014] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: $primary;
.jinya-navigation-pager__button {
        min-width: 8em;
        padding: 0.6em;
&.jinya-navigation-pager__button--previous {
            -ms-flex-item-align: start;
                align-self: flex-start;
}
&.jinya-navigation-pager__button--next {
            -ms-flex-item-align: end;
                align-self: flex-end;
}
}
}

@include card-footer-button('jinya-card-button');

.jinya-modal__overlay[data-v-5fa0b5f8] {
    background: scale_color($gray-300, $alpha: 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99999;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
&.is--entering,
    &.is--leaving {
        opacity: 0;
.jinya-modal-dialog {
            opacity: 0;
}
}
.jinya-modal-dialog {
        padding: 0;
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        border: none;
        z-index: 100000;
        max-width: 50em;
        -webkit-box-shadow: 0 0 10px 0 scale_color($primary, $alpha: 20%);
                box-shadow: 0 0 10px 0 scale_color($primary, $alpha: 20%);
        border-radius: 10px;
        opacity: 1;
&__title {
            background: $primary;
            color: $primary-lighter;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 2rem;
            padding: 1rem 2rem;
}
&__loader {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 15em;
}
&__content {
            background: $white;
            max-height: 40em;
            padding: 2em;
            overflow-y: auto;
}
&__footer {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: $primary;
            padding: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
}
&__message {
            width: 100%;
}
&__buttons {
&\--start {
                -ms-flex-item-align: start;
                    align-self: flex-start;
}
&\--end {
                -ms-flex-item-align: end;
                    align-self: flex-end;
}
}
}
}

.jinya-loader[data-v-8a5f1ce8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
.jinya-loader__spinner {
        position: absolute;
        border: 16px solid transparent;
        border-top-color: $primary-lighter;
        border-right-color: $primary;
        border-bottom-color: $primary-darker;
        border-radius: 50%;
        width: 10em;
        height: 10em;
        -webkit-animation: spin 0.5s steps(6) infinite;
                animation: spin 0.5s steps(6) infinite;
        margin: auto;
&.is--mini {
            width: 3em;
            height: 3em;
}
@-webkit-keyframes spin {
from {
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
}
to {
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
}
}
@keyframes spin {
from {
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
}
to {
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
}
}
}
}











































.jinya-floating-action-button[data-v-725497a0] {
    border: 2px solid;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 3rem;
    bottom: 3rem;
    font-size: 2em;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
&:focus {
        outline: none;
}
&:hover {
        text-decoration: none;
}
&.is--default {
        background: $gray-600;
        color: $white;
        border-color: $gray-600;
&:hover {
            background: $white;
            color: $gray-600;
}
}
&.is--primary {
        background: $primary;
        color: $white;
        border-color: $primary;
&:hover {
            background: $white;
            color: $primary;
}
}
&.is--secondary {
        background: $secondary;
        color: $white;
        border-color: $secondary;
&:hover {
            background: $white;
            color: $secondary;
}
}
&.is--danger {
        background: $danger;
        color: $white;
        border-color: $danger;
&:hover {
            background: $white;
            color: $danger;
}
}
&.is--success {
        background: $success;
        color: $white;
        border-color: $success;
&:hover {
            background: $white;
            color: $success;
}
}
}

.jinya-input[data-v-7729608a] {
    font-size: 1rem;
    margin: 0 0 1em;
    width: 100%;
.jinya-input__label {
        display: inline-block;
}
.jinya-input__wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
.jinya-button--reset {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
            min-width: 5em;
            padding: 0 0.5em;
            border: none;
            position: unset;
            border-bottom: 3px solid $form-underline-color;
}
.jinya-input__field {
            -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
            padding: 0.5em;
            outline: none;
            justify-self: flex-start;
            display: inline-block;
            border-style: none;
            border-bottom: solid 3px $form-underline-color;
            -webkit-transition: border-bottom-width 0.3s;
            transition: border-bottom-width 0.3s;
            font-family: $font-family;
            font-size: 90%;
            background-color: $white;
&.is--disabled {
                background: $gray-200;
}
}
}
}

.jinya-input[data-v-51cdbd84] {
    font-size: 1rem;
    margin: 0 0 1em;
    width: 100%;
.jinya-input__label {
        display: inline-block;
}
.jinya-input__textarea {
        padding: 0.5em;
        outline: none;
        width: 100%;
        display: inline-block;
        border-style: none;
        border-bottom: solid 3px $form-underline-color;
        -webkit-transition: border-bottom-width 0.3s;
        transition: border-bottom-width 0.3s;
        font-family: $font-family;
        font-size: 90%;
        height: 10em;
&.is--disabled {
            background: $gray-200;
}
}
.jinya-input__field {
        padding: 0.5em;
        outline: none;
        width: 100%;
        display: inline-block;
        border-style: none;
        border-bottom: solid 3px $form-underline-color;
        -webkit-transition: border-bottom-width 0.3s;
        transition: border-bottom-width 0.3s;
        font-family: $font-family;
        font-size: 90%;
        height: 10em;
.jinya-input__field--no-break {
            word-break: keep-all;
            white-space: pre;
}
}
}

.jinya-message__action-bar[data-v-bc3b2a3c] {
    display: block;
    padding-top: 1em;
.jinya-button {
        margin: 0 0.5em;
&:first-child {
            margin-left: 0;
}
&:last-child {
            margin-right: 0;
}
}
}

.jinya-editor[data-v-7160c58e] {
    padding-top: 1em;
}

.jinya-form__preview-image[data-v-3cf96590] {
    width: 100%;
    max-height: 35em;
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

.jinya-editor-pane[data-v-0b630115] {
    width: 50%;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: start;
&:nth-child(1) {
        padding-left: 0;
}
&:nth-child(2) {
        padding-right: 0;
}
}

.jinya-gallery-description[data-v-78b14e04] {
    padding: 0.8em;
    margin: 0;
    height: 100%;
    background-size: cover;
}
.jinya-card__item[data-v-78b14e04] {
    -ms-flex-preferred-size: 15em;
        flex-basis: 15em;
}

.jinya-gallery-add[data-v-453c57e2] {
    padding-top: 1em;
}

.jinya-choice[data-v-9b4e8350] {
    font-size: 1rem;
    margin: 0 0 1em;
.jinya-choice__label {
        display: block;
}
.jinya-choice__list {
        padding: 0;
        margin: 0;
        list-style: none;
li {
            border-bottom: solid 1px $form-underline-color;
&:last-child {
                border-bottom-width: 3px;
}
}
}
.jinya-choice__field {
        padding: 0.5em;
        outline: none;
        width: 100%;
        display: inline-block;
        border-style: none;
        border-bottom: solid 3px $form-underline-color;
        font-family: $font-family;
        font-size: 90%;
&.is--disabled {
            background: $gray-200;
}
}
.jinya-choice__checkbox,
    .jinya-choice__radio {
        padding: 0.5em;
        outline: none;
        width: 100%;
        font-family: $font-family;
        font-size: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
> input {
            margin-right: 1em;
}
}
}

.jinya-message--designer[data-v-584b333c] {
    margin-right: -12.5%;
    margin-left: -12.5%;
    width: 125%;
    padding-top: 1em;
}

.jinya-gallery-designer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 1em;
&.is--horizontal {
        padding-bottom: 10em;
        grid-template-columns: repeat(auto-fill, minmax(10em, 100%));
        grid-auto-flow: column;
        padding-top: 1em;
        overflow-x: auto;
        margin-right: -12.5%;
        margin-left: -12.5%;
        width: 125%;
}
&.is--vertical {
        grid-template-rows: repeat(auto-fill, minmax(10em, 100%));
        padding-top: 1em;
}
}

.jinya-gallery-designer {
&.is--horizontal {
.jinya-gallery-designer__button-position {
            width: 10em;
&.jinya-gallery-designer__button-position--decrease {
                grid-row: 2;
                grid-column: 1;
                justify-self: start;
&::before {
                    content: '\F04E';
}
}
&.jinya-gallery-designer__button-position--increase {
                grid-row: 2;
                grid-column: 1;
                justify-self: end;
&::before {
                    content: '\F055';
}
}
}
}
&.is--vertical {
.jinya-gallery-designer__button-position {
&.jinya-gallery-designer__button-position--decrease {
                grid-row: 1;
&::before {
                    content: '\F05E';
}
}
&.jinya-gallery-designer__button-position--increase {
                grid-row: 3;
&::before {
                    content: '\F046';
}
}
}
}
}
.jinya-gallery-designer__button-position {
    cursor: pointer;
    background: $primary;
    color: $primary-lighter;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
    //noinspection CssNoGenericFontName
    font-family: "Material Design Icons";
    font-size: 100%;
&::before {
        font-size: 1.6em;
}
&:hover {
        background: $primary-lighter;
        color: $primary;
}
}

.is--horizontal {
.jinya-gallery-designer__button {
        height: 40em;
&.jinya-gallery-designer__button--add {
            width: 10em;
}
&.jinya-gallery-designer__button--edit {
            grid-column: 1;
            grid-row: 1;
}
}
}
.is--vertical {
.jinya-gallery-designer__button {
&.jinya-gallery-designer__button--add {
            height: 10em;
}
&.jinya-gallery-designer__button--edit {
            height: auto;
            width: 100%;
            grid-row: 2;
            grid-column: 1;
}
}
}
.jinya-gallery-designer__button {
    height: 100%;
    width: 100%;
    background: $gray-200;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    border: none;
&.jinya-gallery-designer__button--add {
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
&:hover {
            background: $gray-300;
}
&::before {
            //noinspection CssNoGenericFontName
            font-family: "Material Design Icons";
            content: "\F415";
            font-size: 3em;
            color: $primary;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
}
}
&.jinya-gallery-designer__button--edit {
        background: rgba(255, 255, 255, 0);
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
&:hover {
            background: rgba(255, 255, 255, 0.8);
&::before {
                color: $primary;
}
}
&::before {
            //noinspection CssNoGenericFontName
            font-family: "Material Design Icons";
            content: "\F3EB";
            font-size: 3em;
            color: transparent;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
}
}
}

.jinya-gallery-designer__item {
    display: grid;
.is--vertical & {
        grid-template-rows: auto 1fr auto;
}
}

.jinya-gallery-designer__image {
.is--vertical & {
        height: auto;
        width: 100%;
        grid-row: 2;
        grid-column: 1;
}
.is--horizontal & {
        height: 40em;
        width: auto;
        grid-column: 1;
        grid-row: 1;
}
}

.jinya-modal--add-artwork[data-v-01ba1c13] {
.jinya-modal__content {
        padding: 0;
}
}

.jinya-artwork-view[data-v-8e67da5c] {
    width: 50em;
    max-height: 40em;
    margin: -2em;
    padding: 2em 0 0;
    position: relative;
@include breakpoint-768-height {
        max-height: 30em;
}
}
.jinya-card-list--artwork-view[data-v-8e67da5c] {
    overflow-y: auto;
    max-height: 38em;
@include breakpoint-768-height {
        max-height: 28em;
}
}
.jinya-artwork-view__picture[data-v-8e67da5c] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
&:hover {
        -o-object-fit: scale-down;
           object-fit: scale-down;
}
}
.jinya-input--artwork-search[data-v-8e67da5c] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.jinya-modal--edit-artwork[data-v-4ba487f1] {
.jinya-modal__content {
        padding: 0;
}
}

.jinya-form__description[data-v-45b7fb8c] {
    padding-left: 1rem;
    padding-right: 1rem;
}


















































.jinya-form-form__form[data-v-49ff189a] {
    padding-bottom: 2rem;
}

.mce-container.mce-panel.mce-tinymce {
    margin-bottom: 1em;
}







































































.jinya-form-builder__draggable[data-v-1320fbe4] {
    width: 100%;
}
.jinya-form-builder__trash[data-v-1320fbe4] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    color: $danger;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.is--big[data-v-1320fbe4] {
    font-size: 250%;
}



















































































































.jinya-checkbox[data-v-29947449] {
    font-size: 1rem;
}






























































































.jinya-form-builder__component[data-v-2d1de1c0] {
    width: 100%;
    border: 1px solid $primary;
    border-radius: 2px;
    padding: 1rem 1rem 0;
    margin-bottom: 1rem;
    display: block;
    position: relative;
.jinya-form-builder__input {
        width: 100%;
        display: block;
&.jinya-checkbox {
            margin-bottom: 1rem;
}
}
}
.jinya-icon-bar[data-v-2d1de1c0] {
    position: absolute;
    right: 0;
    top: 0;
}
.jinya-form-builder__settings[data-v-2d1de1c0] {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
&.is--leave-to,
    &.is--enter-active {
        opacity: 0;
}
}

.jinya-form-builder__settings[data-v-2d0eaa96] {
    padding-bottom: 1rem;
}
.jinya-form-builder__settings-checkbox[data-v-2d0eaa96] {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.jinya-icon-button[data-v-81d4dd1c] {
    border-width: 0;
    display: inline-block;
    padding: 0.5em 0.5em;
    vertical-align: middle;
    position: relative;
    font-size: 100%;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
&:focus {
        outline: none;
}
&:hover {
        text-decoration: none;
}
@include button-variations(transparent);
}

.jinya-page-editor[data-v-5454c13f] {
    height: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.jinya-page[data-v-33a50fe0] {
    font-family: $page-font-family;
    height: 100%;
h1 {
        font-family: $page-font-family-heading1;
}
h2 {
        font-family: $page-font-family-heading2;
}
h3 {
        font-family: $page-font-family-heading3;
}
h4 {
        font-family: $page-font-family-heading4;
}
h5 {
        font-family: $page-font-family-heading5;
}
h6 {
        font-family: $page-font-family-heading6;
}
img {
        max-width: 100%;
}
.ql-video {
        width: 100%;
        height: 59%;
}
.ql-align-center {
        text-align: center;
}
.ql-align-right {
        text-align: right;
}
}

.jinya-artist__profile-picture[data-v-41863124] {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.jinya-artist[data-v-41863124] {
.jinya-card__body {
        height: 25em;
}
}




























































.jinya-input[data-v-2a48ee24],
.jinya-choice[data-v-2a48ee24] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
&.is--half {
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
&:nth-child(odd) {
            margin-right: 1%;
}
&:nth-child(even) {
            margin-left: 1%;
}
}
}





















































































































































.jinya-card-button--variables[data-v-64af7366] {
    border-color: $pink;
    color: $pink;
&:hover {
        color: color-yiq($pink);
        background: $pink;
}
}
.jinya-card__item--theme[data-v-64af7366] {
    max-width: 15em / 9 * 16;
&:only-child {
        max-width: 30em / 9 * 16;
.jinya-theme__preview-image {
            max-width: 30em / 9 * 16;
            width: 30em / 9 * 16;
}
}
.jinya-theme__preview-image {
        max-width: 15em / 9 * 16;
        width: 15em / 9 * 16;
        -o-object-fit: cover;
           object-fit: cover;
}
}

.jinya-form--variables[data-v-26736d5c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
}
.jinya-input--variables[data-v-26736d5c] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100% / 3 - 1%;
            flex: 0 0 100% / 3 - 1%;
    margin-right: 0.5%;
    margin-left: 0.5%;
&:first-child,
    &:nth-child(n) {
        margin-left: 0;
        -ms-flex-preferred-size: 100% / 3 - 0.5%;
            flex-basis: 100% / 3 - 0.5%;
}
&:nth-child(3n) {
        margin-right: 0;
        -ms-flex-preferred-size: 100% / 3 - 0.5%;
            flex-basis: 100% / 3 - 0.5%;
}
}

.jinya-theme-configuration[data-v-0a1897e4] {
    padding-top: 1em;
}

.jinya-fieldset[data-v-75c7e7ce] {
    border: none;
    margin: 0 0 1em;
    padding: 0;
.jinya-fieldset__legend {
        color: $primary;
        font-size: 1.2rem;
        padding: 0;
}
}

.jinya-field__group[data-v-bd680968] {
    margin-bottom: 1em;
.jinya-field__input {
        margin-bottom: 0;
}
.jinya-field__button {
        width: 100%;
        padding: 0;
        vertical-align: bottom;
}
}

.jinya-tab__item[data-v-573457db] {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    height: auto;
&.is--entering {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
}
&.is--entering,
    &.is--leaving {
        height: 0;
}
}

.jinya-tab[data-v-96392ece] {
    width: 100%;
.jinya-tab__list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: -2px;
.jinya-tab__link {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
            padding: 0.5em 1em 0;
            color: $gray-500;
            font-size: 1.4em;
            cursor: pointer;
            border: 2px solid transparent;
            -webkit-transition: color 0.3s, background 0.3s, border 0.3s;
            transition: color 0.3s, background 0.3s, border 0.3s;
&.is--selected {
                color: $primary;
                border: 2px solid $primary;
                border-bottom-color: $white;
                background: $white;
}
}
}
.jinya-tab__container {
        padding-top: 1em;
        border-top: 2px solid $primary;
}
}

.jinya-card--menu[data-v-41fcfe53] {
.jinya-card__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
}
}
.jinya-menu__logo[data-v-41fcfe53] {
    height: 100%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
}




















































































































































