.form {
  padding: 2.2rem;
  overflow: auto;
  height: 80%;
  margin: 0;

  .buttons {
    display: block;
    float: right;
    margin-right: -0.5em;
  }

  .form-group {
    display: block;

    .ql-toolbar {
      margin-top: 1em;
    }

    label {
      font-weight: bold;
      display: block;
      padding-top: 1em;
      margin-bottom: 0;
    }

    img {
      margin-top: 0.2rem;
      max-width: 100%;
      margin-bottom: 0.2rem;
    }

    input[type=checkbox] {
      display: none;
      margin-top: 1em;
      font-size: 1.5em;

      + label {
        display: inline-block;
        &:before {
          font-family: FontAwesome;
          content: "\f096";
          letter-spacing: 10px;
          color: $primary;
        }
      }
      &:checked + label:before {
        content: "\f046";
        letter-spacing: 5px;
      }
    }

    input[type=file] {
      display: none;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    textarea,
    select {
      width: 100%;
      border-radius: 5px;
      border: 1px solid $primary;
      padding: 0.2em 0.5em;
      outline: none;

      &:focus {
        box-shadow: 0 0 10px 0 transparentize($primary, 0.75);
      }

      &.input-with-addon {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(100% - 10rem);
        margin-right: 0;
        float: left;

        + .input-addon-after {
          width: 10rem;
          max-width: 10rem;
          font-size: 1rem;
          padding: 0.2em 0.5em;
          border-radius: 0 5px 5px 0;
          margin: 0;
          border-left: none;
          float: left;
        }
      }
    }
  }
}

.editor {
  .buttons {
    margin-bottom: 3em;
    margin-right: 1em;
  }
}