@mixin gallery-button($icon) {
  cursor: pointer;
  transition: transform 0.3s, background 0.3s, opacity 0.3s;
  transform: scale3d(1, 1, 1);
  border-radius: 4px;

  &:hover {
    background: darken($gray-100, 6%);
    transform: scale3d(0.95, 0.95, 1);
    opacity: 0.8;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: $primary;
    font-family: FontAwesome;
    pointer-events: none;
    content: $icon;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale3d(2, 2, 1);
  }
}

@mixin gallery-move-button($mode, $direction, $icon) {
  @extend .button;
  @extend .button.primary;
  margin: 0;
  height: 2em;
  transition: all 0.3s;

  @if $mode == horizontal {
    grid-column: #{unquote("2/3")};
    grid-row: #{unquote("2/3")};
    #{$direction}: 0;
    position: absolute;
  } @else if $mode == vertical {
    width: 100%;
    max-width: 100%;
  }

  &::before {
    content: $icon;
    top: 0;
    font-family: FontAwesome;
    color: $white;
    opacity: 1;
    transform: unset;
    font-size: 1.3em;
    transition: all 0.3s;
    text-align: center;
  }

  &:hover {
    transition: all 0.3s;
    &::before {
      transition: all 0.3s;
      color: $primary;
    }
  }
}

.gallery {
  height: 100%;

  &.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 2em;
    padding-top: 7.5%;
    flex-wrap: nowrap;
    display: flex;

    .gallery-item {
      display: inline-grid;
      grid-template-columns: 8em 1fr;
      grid-template-rows: 35em 2em;
      grid-column-gap: 1em;
      margin: 0.5em;
      padding-bottom: 20%;

      .gallery-button-add {
        grid-column: #{unquote("1/2")};
        grid-row: #{unquote("1/2")};
        border: none;
      }
      .gallery-button-edit {
        z-index: 10;
      }

      .gallery-image-wrapper {
        height: 35em;
        width: auto;

        .gallery-image {
          height: 100%;
          width: auto;
        }
      }

      .gallery-button-edit,
      .gallery-image-wrapper {
        grid-column: #{unquote("2/3")};
        grid-row: #{unquote("1/2")};
      }

      .gallery-footer-button-left {
        @include gallery-move-button(horizontal, left, '\f060');
      }

      .gallery-footer-button-right {
        @include gallery-move-button(horizontal, right, '\f061');
      }
    }
  }

  &.vertical-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2em;

    .gallery-item {
      display: grid;
      grid-template-rows: 10em 2em 100% 2em;
      grid-template-columns: 100%;
      width: 100%;

      &:first-of-type {
        grid-template-rows: 10em 100% 2em;
        .gallery-image-wrapper {
          grid-row: #{unquote('2/3')};
        }
        .gallery-button-edit {
          grid-row: #{unquote('2/3')};
        }
        .gallery-side-button-down {
          @include gallery-move-button(vertical, down, '\f063');
          grid-row: #{unquote('3/4')};
        }
      }

      &:nth-last-of-type(2) {
        grid-template-rows: 10em 2em 100%;
      }

      .gallery-image-action {
        height: 8em;
      }
      .gallery-image-wrapper {
        grid-row: #{unquote('3/4')};
        width: 100%;
        height: auto;

        .gallery-image {
          width: 100%;
          height: auto;
        }
      }
      .gallery-button-add {
        margin: 1em 0;

        &::before {
          text-align: center;
          width: 100%;
        }
      }
      .gallery-button-edit {
        grid-row: #{unquote('3/4')};

        &::before {
          text-align: center;
          width: 100%;
        }
      }
      .gallery-side-button-up {
        @include gallery-move-button(vertical, up, '\f062');
        grid-row: #{unquote('2/3')};
      }
      .gallery-side-button-down {
        @include gallery-move-button(vertical, down, '\f063');
        grid-row: #{unquote('4/5')};
      }
    }
  }

  .gallery-item {
    position: relative;

    .gallery-image {
      opacity: 1;
      z-index: 8;
      transition: opacity 0.3s, transform 0.3s, background 0.3s;
    }
    .gallery-image-wrapper {
      display: inline;
    }
    .gallery-button-add {
      @include gallery-button('\f067');
      background: darken($gray-100, 2%);
    }
    .gallery-button-edit {
      @include gallery-button('\f040');
      width: 100%;
      height: 100%;
      background: $gray-100;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 10;

      &:hover {
        + .gallery-image-wrapper {
          > .gallery-image {
            background: darken($gray-100, 6%);
            transform: scale3d(0.95, 0.95, 1);
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.md-modal {
  .md-content {
    > div.image-gallery {
      height: 35rem;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1.5rem;

      .image-gallery-entry {
        width: 14rem;
        height: 10rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border: solid $primary 1px;
        border-radius: 3px;
        transition: all 0.2s linear;
        display: inline-block;
        position: relative;

        .mask {
          width: 14rem;
          height: 10rem;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(219, 127, 8, 0.7);
          transition: all 0.4s ease-in-out;
          border-radius: 3px;
        }
        img {
          transition: all 0.2s linear;
          display: block;
          position: relative;
          height: 9rem;
          width: 13rem;
          object-fit: cover;
        }
        .mask-header {
          transform: translateY(-100px);
          opacity: 0;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          position: relative;
          font-size: 17px;
          padding: 10px;
          background: rgba(0, 0, 0, 0.8);
          margin: 20px 0 0 0;
          display: block;
        }
        .mask-content {
          transform: translateY(100px);
          opacity: 0;
          transition: all 0.2s linear;
          font-family: Georgia, serif;
          font-style: italic;
          font-size: 12px;
          position: relative;
          color: #fff;
          padding: 10px 20px 20px;
          text-align: center;
        }
        .info {
          display: inline-block;
          text-decoration: none;
          padding: 7px 14px;
          background: #000;
          color: #fff;
          text-transform: uppercase;
          box-shadow: 0 0 1px #000;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          text-align: center;
          width: 80%;
          margin-left: 10%;

          &:hover {
            box-shadow: 0 0 5px #000;
          }
        }
        &:hover {
          padding: 0.5rem;
          border-color: transparent;

          .mask {
            opacity: 1;
          }
          .mask-header,
          .mask-content,
          .info {
            opacity: 1;
            transform: translateY(0px);
          }
          .mask-content {
            transition-delay: 0.1s;
          }
          .info {
            transition-delay: 0.2s;
          }
          img {
            height: 10rem;
            width: 14rem;
            margin: -0.5rem;
            border-radius: 3px;
          }
        }

        &.selected {
          border-width: 0.5rem;
          padding: 0;

          &:hover {
            padding: 0.5rem;
            border-width: 1px;
          }
        }
      }
    }
  }
}