.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.2rem;

  .card {
    flex: 0 0 46%;
    max-width: 46%;
    margin: 1em;
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 1025px) {
  .list {
    .card {
      flex: 0 0 23%;
      max-width: 23%;
    }
  }
}