@include jinya-media-query($screen: true, $small: true) {
  .jinya-art-gallery--mobile {
    display: block;
    flex: 0 0 100%;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .jinya-art-gallery__artwork--mobile {
    box-sizing: border-box;
    margin: 0;
    flex-direction: column-reverse;
    display: flex;
    padding: 0;

    &:nth-child(2n) {
      padding: 0;
      flex-direction: column-reverse;
      display: flex;

      .jinya-art-gallery__image--mobile,
      .jinya-art-gallery__caption--mobile {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .jinya-art-gallery__image--mobile {
    min-width: 100%;
    max-width: 100%;
    object-fit: unset;
    height: unset;
    display: block;
  }

  .jinya-art-gallery__caption--mobile {
    min-width: 100%;
    max-width: 100%;
    display: block;
    padding-top: 1rem;
    margin: 0 0 1rem;
  }

  .jinya-art-gallery-caption__title--mobile {
    font-size: 2rem;
    margin: 0;
  }

  .jinya-art-gallery-caption__content--mobile {
    display: none;
  }
}