/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner::before {
  content: '';
  background-image: url('/img/startpage.webp');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  backdrop-filter: blur(20px);
  max-width: unset;
  padding: 2rem 0;
  background: var(--ifm-color-primary-transparentized);
}
