.button {
  float: right;
  font-size: 100%;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em 0 1em 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: $form-text-color;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: 255px;
}

.button--itzel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid $primary;
  border-radius: inherit;
  clip-path: url(#clipBox);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
  border: 1px solid $primary;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.button--itzel.button--border-thick::before {
  border: 3px solid $primary;
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--itzel .button__icon {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 20px;
  font-size: 20px;
  transform: translate3d(-50%, 0, 0);
}

.button--itzel > span {
  display: block;
  padding: 20px;
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: 0.3s;
}

.button--itzel:hover::before {
  transform: translate3d(0, 0, 0);
}

.button--itzel:hover .button__icon {
  transition-delay: 0.1s;
  transform: translate3d(-50%, -100%, 0);
}

.button--itzel:hover > span {
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition-delay: 0s;
}

.button__icon.icon-envelope::before {
  font-family: 'FontAwesome';
  content: '\f0e0';
  font-style: normal;
  color: $primary;
}