.menu {
  position: fixed;
  max-height: calc(100vh - #{$menu-margin-top});
  background: $primary-lighter;
  border-radius: $menu-border-radius;
  color: $primary-darker;
  left: $menu-margin-left;
  top: $menu-margin-top;
  width: $menu-width;
  overflow-y: auto;
  z-index: 9999;
  overflow-x: hidden;

  .logo {
    img {
      width: $menu-logo-size;
      margin: $menu-logo-margin;
      opacity: $menu-logo-opacity;
    }
  }
  .title {
    font-weight: normal;
    padding: $menu-title-padding;
  }
  > ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
      padding: 0;

      a {
        padding-left: $menu-item-padding-left;
      }
    }
  }
  ul {
    list-style: none;

    &:hover li {
      a,
      a.active {
        @include menu-blurred();
      }
    }

    a {
      display: block;
      @if ($menu-item-uppercase) {
        text-transform: uppercase;
      }
      text-decoration: none;
      color: $primary;
      padding: $menu-item-link-padding;
      background: $menu-item-link-background;
      letter-spacing: $menu-item-link-letter-spacing;
      transition: all 0.4s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      padding: 0;

      &.active,
      &:target {
        > ul {
          display: block;
        }
      }

      &.highlight {
        font-weight: $menu-item-highlighted-font-weight;
        font-size: $menu-item-highlighted-font-size;
        font-style: $menu-item-highlighted-font-style;

        li:not(.highlight) {
          font-weight: normal;
          font-size: 1rem;
        }
      }

      a {
        background: transparent;

        &.active {
          @include menu-item-hover-background-gradient();

          &:hover {
            @include menu-unblurred();
          }
        }

        &:hover {
          @include menu-unblurred();
        }
      }

      > ul {
        list-style: none;
        display: none;
      }
    }
  }
}

@include breakpoint-ultra-mobile {
  .menu {
    position: relative;
    width: 100%;
    max-height: unset;
    padding: 0;
    left: 0;
    top: 0;
    border-radius: 0;

    .logo {
      display: none;
    }
  }
}

@include breakpoint-mobile {
  .menu {
    left: $menu-margin-left-mobile;
    top: $menu-margin-top-mobile;
  }
}

@include breakpoint-tablet-portrait {
  .menu {
    left: $menu-margin-left-tablet-portrait;
    top: $menu-margin-top-tablet-portrait;
  }
}