@mixin menuItemBackgroundGradient() {
  background: linear-gradient(to right, transparentize($primary, 100%), $primary);
}

@mixin menuItemTextColorGradient() {
  color: linear-gradient(to right, $primary, transparentize($primary, 90%));
}

@mixin menuBlurred() {
  color: transparent;
  text-shadow: 0 0 10px $white;
  @include menuItemBackgroundGradient();
}

@mixin menuUnblurred() {
  background: transparent;
  text-shadow: 1px 1px 10px transparentize($primary, 0.4);
  color: $primary;
}

@mixin menuSize($menuMarginLeft, $menuMarginTop,$menuWidth, $menuLogoMargin, $menuLogoSize) {
  .menu {
    left: $menuMarginLeft;
    top: $menuMarginTop;
    width: $menuWidth;
    max-height: calc(100vh - #{$menuMarginTop * 2});

    .logo {
      &.circular {
        margin: $menuLogoMargin;
        height: $menuLogoSize;
        width: $menuLogoSize;
      }
    }
  }
}