@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format("embedded-opentype"), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format("woff2"), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format("woff"), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format("truetype"), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Default custom select styles */

div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  -webkit-touch-callout: none;
  user-select: none;
  &:focus {
    outline: none;
    /* For better accessibility add a style for this in your skin */
  }
}

.cs-select {
  select {
    display: none;
  }
  span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em 1em 1em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > span {
    padding-right: 3em;
    &::after {
      speak: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'FontAwesome';
    content: '\f067';
    margin-left: 1em;
    color: $primary;
  }
  > span::after {
    font-family: 'FontAwesome';
    content: '\f067';
    right: 1em;
    color: $primary;
  }
  &.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
}

/* Placeholder and selected option */

div.cs-active {
  z-index: 200;
}

/* Options */

.cs-select {
  .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: $primary-darker;
    visibility: hidden;
  }
  &.cs-active .cs-options {
    visibility: visible;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    span {
      padding: 1em;
    }
    li.cs-focus span {
      background-color: $primary-lighter;
    }
  }
  li.cs-optgroup {
    ul {
      padding-left: 1em;
    }
    > span {
      cursor: default;
    }
  }
}

/* Optgroup and optgroup label */

div.cs-skin-underline {
  background: transparent;
  font-size: 1em;
}

.cs-skin-underline {
  > span {
    padding: 0.5em 3em 0.5em 0;
    border-bottom: 3px solid $primary;
    transition: border-bottom-width 0.3s;
  }
  &.cs-selected > span {
    border-bottom: 2px solid $primary;
    transition: border-bottom-width 0.3s;
  }
  > span::after {
    font-family: 'FontAwesome';
    content: '\f067';
    right: 0.25em;
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
    transition: transform 0.5s;
  }
  &.cs-active > span::after {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg);
  }
  .cs-options {
    background: $primary-lighter;
    opacity: 0;
    transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
  }
  &.cs-active .cs-options {
    opacity: 1;
    transition: opacity 0.3s;
  }
  ul span {
    position: relative;
    text-transform: uppercase;
    font-size: 66%;
    letter-spacing: 1px;
    padding: 1.2em 0.8em;
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }
}

.cs-select {
  ul span::after {
    content: '';
    opacity: 0;
  }
  .cs-selected span::after {
    font-family: 'FontAwesome';
    content: '\f00c';
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.7s;
    transition: opacity 0.3s 0.7s;
  }
}

.cs-skin-underline {
  ul span::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s;
  }
  &.cs-active ul span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    &::before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  li:nth-child(5) span, &.cs-active li:first-child span {
    transition-delay: 0s;
    &::before {
      transition-delay: 0s;
    }
  }
  li:nth-child(4) span, &.cs-active li:nth-child(2) span {
    transition-delay: 0.05s;
    &::before {
      transition-delay: 0.05s;
    }
  }
  li {
    &:nth-child(3) span {
      transition-delay: 0.1s;
      &::before {
        transition-delay: 0.1s;
      }
    }
    &:nth-child(2) span {
      transition-delay: 0.15s;
      &::before {
        transition-delay: 0.15s;
      }
    }
  }
  &.cs-active li:nth-child(4) span {
    transition-delay: 0.15s;
    &::before {
      transition-delay: 0.15s;
    }
  }
  li:first-child span, &.cs-active li:nth-child(5) span {
    transition-delay: 0.2s;
    &::before {
      transition-delay: 0.2s;
    }
  }
  .cs-options li {
    span:hover, &.cs-focus span {
      color: $primary;
      background: transparent;
    }
  }
  li.cs-selected span {
    color: $primary;
    background: transparent;
  }
}

/* more items require more delay declarations */