/**
 * Colors
 */
$color-lighter-percentage: 25% !default;
$color-darker-percentage: 25% !default;
$primary: #177 !default;
$secondary: #711 !default;

$primary-lighter: lighten($primary, $color-lighter-percentage);
$primary-darker: darken($primary, $color-darker-percentage);

$secondary-lighter: lighten($secondary, $color-lighter-percentage);
$secondary-darker: darken($secondary, $color-darker-percentage);

$white: #fff !default;
$black: #000 !default;

$success-color: #009400 !default;
$success-text-color: $success-color !default;
$success-background-color: pastelize($success-color) !default;

/** Social **/
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-pinterest: #bd081c;
$color-tumblr: #35465c;
$color-deviant-art: #c5d200;
$color-patreon: #f96854;
$color-youtube: #ff0000;
$color-instagram: #f46040;

$pastelize-enabled: true !default;
$background-opacity: 1 !default;

/**
 + Typography
 */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-desktop: 16px;
$font-size-tablet-landscape: 14px;
$font-size-tablet-portrait: 12px;
$font-size-mobile: 10px;
$font-size-ultra-mobile: 10px;

/**
 + Breakpoints
 */
$breakpoint-ultra-mobile-max-width: 639px;

$breakpoint-mobile-min-width: 640px;
$breakpoint-mobile-max-width: 1199px;

$breakpoint-tablet-portrait-min-width: 1200px;
$breakpoint-tablet-portrait-max-width: 1439px;

$breakpoint-tablet-landscape-min-width: 1440px;
$breakpoint-tablet-landscape-max-width: 1919px;

$breakpoint-desktop-min-width: 1920px;

/**
 * Margins
 */
$margin-top: 5rem !default;

$margin-top-mobile: $margin-top / 2 !default;

$margin-top-tablet-portrait: $margin-top / 2 !default;

/**
 * Menu
 */
$menu-width: 20rem !default;
$menu-margin-top: $margin-top;
$menu-margin-left: 5rem !default;
$menu-border-radius: 1rem !default;

$menu-margin-top-mobile: $menu-margin-top / 2;
$menu-margin-left-mobile: $menu-margin-left / 2;

$menu-margin-top-tablet-portrait: $menu-margin-top / 2;
$menu-margin-left-tablet-portrait: $menu-margin-left / 2;

/** Title **/
$menu-title-padding: 0 1.2rem !default;

/** Logo **/
$menu-logo-margin: 1.7rem !default;
$menu-logo-opacity: 0.8 !default;
$menu-logo-size: $menu-width - $menu-logo-margin * 2 !default;

/** Social bar **/
$menu-social-bar-padding: 0.5rem 1.2rem !default;
$menu-social-bar-margin-top: 1rem !default;

/** Menu items **/
$menu-item-uppercase: true;
$menu-item-padding-left: 3rem !default;

$menu-item-link-padding: 0.3rem 1.2rem !default;
$menu-item-link-background: rgba(255, 255, 255, 0.2) !default;
$menu-item-link-letter-spacing: 1px !default;

$menu-item-highlighted-font-size: 1.2em !default;
$menu-item-highlighted-font-weight: bold !default;
$menu-item-highlighted-font-style: normal !default;

$menu-item-blurred-text-shadow-color: $white;
$menu-item-blurred-text-shadow-blur-radius: 0.625em;

$menu-item-unblurred-text-shadow-color: transparentize($primary, 0.4);
$menu-item-unblurred-text-color: $primary;
$menu-item-unblurred-text-shadow-blur-radius: 0.625em;

/**
 * Artworks
 */
$artwork-content-width-ultra-mobile: 100%;
$artwork-content-width-mobile: 50%;
$artwork-content-width-tablet-portrait: 50%;
$artwork-content-width-tablet-landscape: 50%;
$artwork-content-width-desktop: 50%;

$artwork-content-margin-top-ultra-mobile: 1rem;
$artwork-content-margin-left-ultra-mobile: 0;

$artwork-content-margin-left-mobile: 25rem;
$artwork-content-margin-left-tablet-portrait: 25rem;
$artwork-content-margin-left-tablet-landscape: 27.5rem;
$artwork-content-margin-left-desktop: 27.5rem;

/**
 * Gallery
 */
$gallery-background-opacity: 0.3;

$gallery-content-width: 100%;

$gallery-margin-top-ultra-mobile: 1em;
$gallery-margin-top-mobile: 2.5em;

$gallery-content-figure-margin-top: 0;
$gallery-content-figure-margin-bottom: 0;
$gallery-content-figure-margin-left: 1.25rem;
$gallery-content-figure-margin-right: 1.25rem;

$gallery-content-figure-width-mobile: 100%;
$gallery-content-figure-width-tablet-portrait: 100%;
$gallery-content-figure-width-tablet-landscape: 100%;
$gallery-content-figure-width-desktop: 100%;

$gallery-content-padding-left-ultra-mobile: 1rem;
$gallery-content-padding-left-mobile: 22.5rem;
$gallery-content-padding-left-tablet-portrait: 22.5rem;
$gallery-content-padding-left-tablet-landscape: 27.5rem;
$gallery-content-padding-left-desktop: 27.5rem;

$gallery-content-padding-right-ultra-mobile: 1rem;
$gallery-content-padding-right-mobile: 5rem;
$gallery-content-padding-right-tablet-portrait: 5rem;
$gallery-content-padding-right-tablet-landscape: 5rem;
$gallery-content-padding-right-desktop: 5rem;

/**
 + Pages
 */
$page-content-margin-left-ultra-mobile: 1rem;
$page-content-margin-left-mobile: 25rem;
$page-content-margin-left-tablet-portrait: 25rem;
$page-content-margin-left-tablet-landscape: 27.5rem;
$page-content-margin-left-desktop: 27.5rem;

$page-content-margin-right-ultra-mobile: 1rem;
$page-content-margin-right-mobile: 2.5rem;
$page-content-margin-right-tablet-portrait: 2.5rem;
$page-content-margin-right-tablet-landscape: 5rem;
$page-content-margin-right-desktop: 27.5rem;

/**
 + Social
 */
/** Icons */
$social-icon-facebook-color: $color-facebook !default;
$social-icon-twitter-color: $color-twitter !default;
$social-icon-pinterest-color: $color-pinterest !default;
$social-icon-tumblr-color: $color-tumblr !default;
$social-icon-deviant-art-color: $color-deviant-art !default;
$social-icon-patreon-color: $color-patreon !default;
$social-icon-youtube-color: $color-youtube !default;
$social-icon-instagram-color: $color-instagram !default;

/** Buttons */
$social-button-facebook-color: $color-facebook !default;
$social-button-twitter-color: $color-twitter !default;
$social-button-pinterest-color: $color-pinterest !default;
$social-button-tumblr-color: $color-tumblr !default;
$social-button-deviant-art-color: $color-deviant-art !default;
$social-button-patreon-color: $color-patreon !default;
$social-button-youtube-color: $color-youtube !default;
$social-button-instagram-color: $color-instagram !default;

/**
 * Lightbox
 */
$lightbox-overlay-background-zero-percent: $white !default;
$lightbox-overlay-background-hundred-percent: transparentize($black, 30%) !default;
$lightbox-overlay-background-gradient: true;

$lightbox-close-button-top: 1rem !default;
$lightbox-close-button-right: 2.5rem !default;
$lightbox-close-button-color: $primary-lighter !default;

$lightbox-close-button-icon-glyph: '\00D7';
$lightbox-close-button-icon-size: 300%;

$lightbox-content-color: $primary-lighter;
$lightbox-content-font-weight: 200;

$lightbox-padding-left: 5rem;
$lightbox-padding-right: 5rem;
$lightbox-padding-top: 5rem;
$lightbox-padding-bottom: 10rem;

/**
 * Scrollbar
 */
$scrollbar-thumb-color: $primary !default;
$scrollbar-rail-color: $primary-lighter !default;

/**
 * Form
 */
$form-text-color: $black !default;
$form-underline-color: $primary !default;
$form-label-floated-color: $primary !default;