$primary: #177 !default;
$secondary: lighten($primary, 20%) !default;
$white: #fff !default;
$black: #000 !default;
$menuWidth: 20em !default;
$menuMarginTop: 5em !default;
$menuMarginLeft: 5em !default;
$menuLogoMargin: 1em !default;
$menuLogoSize: $menuWidth - $menuLogoMargin * 2 !default;