{% extends '@Theme/jinya_gallery_default_theme/Frontend/base.html.twig' %}

{% block head_title %}
    {{ page.title }}
{% endblock %}

{% block maincontent %}
    <div class="page">
        {{ page.content|raw }}
    </div>
{% endblock %}