{%- block menuitem -%}
    <li class="jinya-menu__item
    {% if isChildActiveMenuItem(item) -%}
        is--current
    {%- else -%}
        {% if activeMenuItem.menu is defined and activeMenuItem.menu is empty %}
            is--hidden
        {% elseif activeMenuItem is not empty and item is not empty and activeMenuItem.id == item.id %}
            is--current
        {%- endif %}
    {%- endif %}
">
        {% if item.children is not empty %}
            <span
                    class="jinya-menu__link has--children {% if item.highlighted %}is--highlight{% endif %}">{{- item.title -}}</span>
            {% include '@Theme/jinya-default-theme/include/submenu/submenu.html.twig' with {'item': item} %}
        {% else %}
            {% include '@Theme/jinya-default-theme/include/menu_link.html.twig' with {'item': item, 'class': 'jinya-menu__link'} %}
        {% endif %}
    </li>
{%- endblock -%}
