{% block menu %}
    {% if theme.links.menus.primary is defined and theme.links.menus.primary is not null %}
        <ul class="jinya-menu">
            {% set activeMenuItem = getActiveMenuItem(theme.links.menus.primary) %}
            {% if activeMenuItem and activeMenuItem.parent is not empty %}
                <li class="jinya-menu__item has--back-arrow ">
                    <a class="jinya-menu__back-arrow"></a>
                </li>
            {% else %}
                <li class="jinya-menu__item has--back-arrow is--hidden">
                    <a class="jinya-menu__back-arrow"></a>
                </li>
            {% endif %}
            {% for item in theme.links.menus.primary.menuItems %}
                {% include '@Theme/jinya-default-theme/include/menu/item.html.twig' with {'item': item, 'activeMenuItem': activeMenuItem} %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}