/**
 * Colors
 */

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$sass-brand: #c69;

$primary: #504a56 !default;
$secondary: #966554 !default;
$positive: #146621 !default;
$info: #182B70 !default;
$negative: #5C0B0B !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$primary-light: scale_color($primary, $lightness: 25%);
$primary-lighter: scale_color($primary, $lightness: 50%);
$primary-lightest: scale_color($primary, $lightness: 75%);

$primary-dark: scale_color($primary, $lightness: -25%);
$primary-darker: scale_color($primary, $lightness: -50%);
$primary-darkest: scale_color($primary, $lightness: -75%);

$secondary-light: scale_color($secondary, $lightness: 25%);
$secondary-lighter: scale_color($secondary, $lightness: 50%);
$secondary-lightest: scale_color($secondary, $lightness: 75%);

$secondary-dark: scale_color($secondary, $lightness: -25%);
$secondary-darker: scale_color($secondary, $lightness: -50%);
$secondary-darkest: scale_color($secondary, $lightness: -75%);

$form-underline-color: $primary;
$text-muted: $primary-lighter;
$edit-color: $secondary !default;
$details-color: $secondary !default;
$delete-color: $negative !default;
$blockquote-color: $primary;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$link-color: $primary !default;
$link-hover-color: darken($link-color, 15%) !default;

$white: #fff !default;
$black: #000 !default;

$pastelize-enabled: true !default;
$background-opacity: 1 !default;

/**
 * Typography
 */
$font-family: objektiv-mk1, sans-serif !default;
$font-family-heading: $font-family !default;
$font-size-desktop: 16px;
