{% extends '@Theme/jinya-default-theme/base.html.twig' %}

{% block maincontent %}
    <main class="jinya-startpage">
        {% for segment in theme.links.segmentPages.startpage.segments|sortByPosition %}
            {% if segment.html is not null %}
                {{ segment.html|raw }}
            {% elseif segment.file is not null %}
                <a class="jinya-startpage__item" href="{{ segment.target }}">
                    <img src="{{ segment.file.path }}" alt="{{ segment.file.name }}">
                </a>
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
