{% extends '@Designer/base.html.twig' %}
{% block content %}
    <img class="background-image" src="{{ gallery.background }}" alt="{{ gallery.name }}">
    <div class="gallery-images {{ gallery.orientation }}-scroll">
        <div class="gallery-image gallery-image-action">
            <div class="gallery-image-add" role="button">
            </div>
        </div>
    </div>
{% endblock %}