<div class="md-modal" id="edit-modal" data-source-url="{{ url('designer_artwork_list_all') }}">
    <div class="md-content">
        <span class="md-title">{{ 'designer.gallery.edit.modal.title'|trans }}</span>
        {% include '@Designer/gallery/ArtworkModificationModalContent.html.twig' %}
        <div class="md-footer">
            <button data-action="close"
                    class="button button-round-s button-border-medium primary">{{ 'designer.gallery.edit.modal.save'|trans }}</button>
            <button data-action="close"
                    class="button button-round-s button-border-medium secondary">{{ 'generic.cancel'|trans }}</button>
        </div>
    </div>
</div>