.jinya-designer-my-profile {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1rem;
    gap: 1rem;
}

.jinya-designer-my-profile__left {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
}

.jinya-designer-my-profile__right {
    display: block;
    max-height: 100%;
    overflow-y: auto;
    align-content: baseline;
}

.jinya-designer-my-profile__profile-picture {
    width: 100%;
}

.jinya-designer-my-profile__artist-name {
    font-size: var(--font-size-32);
    line-height: var(--line-height-46);
    display: block;
    width: 100%;
}

.jinya-designer-my-profile__email {
    font-size: var(--font-size-24);
    line-height: var(--line-height-34);
    font-weight: var(--font-weight-light);
    display: block;
    width: 100%;
}