.jinya-designer-menu-item-container {
    padding: 1rem 1rem 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.jinya-designer-menu-item {
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
    background: var(--white);
    padding: 1rem;
    width: 100%;
    display: block;
    cursor: move;
    box-sizing: border-box;
    border-radius: 5px;
}

.jinya-designer-menu-item__title {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-light);
    width: 100%;
    display: block;
}

.jinya-designer-menu-item__list-item {
    border-radius: 5px;
    box-shadow: 0 0 6px var(--menu-bar-box-shadown);
    background: var(--white);
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    cursor: move;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.jinya-designer-menu-item__item:hover {
    background: var(--input-background-color);
}

.jinya-designer-menu-item__button {
    background: var(--color-1);
    color: var(--color-2);
    transition: color 0.3s, background 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: var(--font-size-24);
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    float: right;
}

.jinya-designer-menu-item__button:hover {
    color: var(--color-1);
    background: var(--color-2);
}

.jinya-designer-menu-item__button--primary {
    --color-1: var(--white);
    --color-2: var(--primary-color);
}

.jinya-designer-menu-item__button--negative {
    --color-1: var(--white);
    --color-2: var(--negative-color);
}

.jinya-designer-menu-designer__list {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: auto;
    width: 100%;
}

.jinya-designer-menu-designer__list--new-items {
    flex: 0 0 29rem;
    min-width: 29rem;
    border-right: 2px solid var(--primary-color);
    padding: 1rem;
    box-sizing: border-box;
}

.jinya-designer-menu-designer__container {
    display: flex;
    max-height: calc(100vh - 9rem + var(--line-height-23));
    overflow: hidden;
}

.jinya-designer-menu-item__drop-target {
    height: 2rem;
    width: 100%;
    border: 2px dashed var(--primary-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.jinya-designer-menu-item__drop-target--drag-over {
    background: var(--menu-bar-box-shadown);
}

.jinya-designer-menu-designer__items {
    list-style: none;
    margin: 0;
}

.jinya-designer-menu-designer__items--top {
    padding: 0;
    width: 100%;
}

.jinya-designer-menu-designer__list--menu-items {
    padding: 1rem;
}

.jinya-designer-menu-item__link {
    font-size: var(--font-size-12);
    padding-left: 0.5rem;
}

.jinya-designer-menu-item__button-row {
    display: flex;
}

.jinya-designer-menu-item__button {
    background: var(--color-1);
    color: var(--color-2);
    transition: color 0.3s, background 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: var(--font-size-24);
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    float: right;
}

.jinya-designer-menu-item__button:hover {
    color: var(--color-1);
    background: var(--color-2);
}

.jinya-designer-menu-item__button--primary {
    --color-1: var(--white);
    --color-2: var(--primary-color);
}

.jinya-designer-menu-item__button--negative {
    --color-1: var(--white);
    --color-2: var(--negative-color);
}
