<div class="jinya-horizontal-split" x-data="queryToolData">
  <div class="jinya-code-editor__container">
    <div class="jinya-code-editor" x-ref="editor"></div>
    <div class="cosmo-button__container jinya-code-editor__execute">
      <button class="cosmo-button is--primary" x-localize:database-query_tool-execute @click="executeQueries"></button>
    </div>
  </div>
  <div class="jinya-code-editor__result">
    <div class="cosmo-tab is--query-tool">
      <div class="cosmo-tab__links">
        <template x-for="(result, index) in results" :key="index">
          <a class="cosmo-tab__link" @click="selectedResult = result"
             :class="{ 'is--active': results.indexOf(selectedResult) === index }"
             x-text="shortenedStatement(result.statement)"></a>
        </template>
      </div>
      <div class="cosmo-tab__content is--query-tool">
        <template x-if="selectedResult?.result instanceof String">
          <span x-text="selectedResult.result"></span>
        </template>
        <template x-if="selectedResult?.result instanceof Number">
          <span x-localize:database-query_tool-rows_affected="{ count: selectedResult.result }"></span>
        </template>
        <template x-if="Array.isArray(selectedResult?.result)">
          <template x-if="selectedResult.result.length > 0">
            <table class="cosmo-table">
              <thead>
              <tr>
                <template x-for="(key, index) in Object.keys(selectedResult.result[0])" :key="index">
                  <th x-text="key"></th>
                </template>
              </tr>
              </thead>
              <tbody>
              <template x-for="(row, index) in selectedResult.result" :key="index">
                <tr>
                  <template x-for="(key, index) in Object.keys(row)" :key="index">
                    <td x-text="row[key]"></td>
                  </template>
                </tr>
              </template>
              </tbody>
            </table>
          </template>
          <template x-if="selectedResult.result.length === 0">
            <span x-localize:database-query_tool-no_result></span>
          </template>
        </template>
      </div>
    </div>
  </div>
</div>
