{% extends '@Designer/menu/menu.base.html.twig' %}

{% block header %}
    {{ 'layout.designer.menu.header.add'|trans }}
{% endblock %}

{% block content %}
    <div data-menu-editor="" data-submit-url="{{ url('designer_menu_save_without_id') }}">
        {% include '@Designer/menu/editor.html.twig' %}
    </div>
    {% include '@Designer/menu/ElementModal.html.twig' %}
    <div id="modal"></div>
{% endblock %}