{% extends '@Designer/menu/menu.base.html.twig' %}

{% block header %}
    {{ menu.name }}
{% endblock %}

{% block content %}
    <div class="jinya-menu-display">
        <ul class="jinya-menu">
            {% for child in menu.menuItems %}
                {% include '@Designer/menu/MenuItem.html.twig' with { 'item': child } %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block menu_bottom_links_menu_specific %}
    {% include '@Designer/menu/additionalLinks.html.twig' %}
{% endblock %}

