<div class="cosmo-side-list is--blog-categories" x-data="postsData">
  <nav class="cosmo-side-list__items is--blog-categories">
    <a @click="selectCategory(null)" class="cosmo-side-list__item" x-localize:blog-posts-overview-all
       :class="{ 'is--active': selectedCategory === null }"></a>
    <template x-for="category in categories" :key="category.id">
      <a @click="selectCategory(category)" class="cosmo-side-list__item is--tree"
         :style="{ '--nesting': category.nesting }"
         :class="{ 'is--active': selectedCategory?.id === category.id }" x-text="category.name"></a>
    </template>
  </nav>
  <div class="cosmo-side-list__content jinya-designer">
    <div class="jinya-designer__title">
      <span class="cosmo-title" x-text="title"></span>
    </div>
    <div class="cosmo-toolbar is--designer">
      <div class="cosmo-toolbar__group">
        <button class="cosmo-button" @click="openCreateDialog" x-localize:blog-posts-overview-action-new></button>
      </div>
      <template x-if="selectedPost">
        <div class="cosmo-toolbar__group">
          <a :href="`/designer/frontstage/blog/editor/${selectedPost.id}`" class="cosmo-button is--primary"
             x-localize:blog-posts-overview-action-editor></a>
        </div>
      </template>
      <template x-if="!selectedPost">
        <div class="cosmo-toolbar__group">
          <span class="cosmo-button is--primary is--disabled" x-localize:blog-posts-overview-action-editor></span>
        </div>
      </template>
      <div class="cosmo-toolbar__group">
        <button :disabled="selectedPost?.public" class="cosmo-button" @click="publishPost"
                x-localize:blog-posts-overview-action-publish></button>
        <button :disabled="!selectedPost?.public" class="cosmo-button" @click="unpublishPost"
                x-localize:blog-posts-overview-action-unpublish></button>
      </div>
      <div class="cosmo-toolbar__group">
        <button :disabled="!selectedPost" class="cosmo-button" @click="openEditDialog"
                x-localize:blog-posts-overview-action-edit></button>
        <button :disabled="!selectedPost" class="cosmo-button" @click="deletePost"
                x-localize:blog-posts-overview-action-delete></button>
      </div>
    </div>
    <div class="jinya-designer__content is--blog-posts">
      <template x-if="posts.length > 0">
        <div class="jinya-blog-tile__container">
          <template x-for="post in posts">
            <div class="jinya-blog-tile" :class="{ 'is--selected': selectedPost?.id === post.id }"
                 @click="selectPost(post)">
              <span class="jinya-blog-tile__title">
                <span x-text="getPostTitle(post)" :title="getPostTitle(post)"></span>
                <template x-if="post.public">
                  <svg viewBox="0 0 24 24" class="jinya-icon is--positive">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20" />
                    <path d="M2 12h20" />
                  </svg>
                </template>
                <template x-if="!post.public">
                  <svg viewBox="0 0 24 24" class="jinya-icon is--negative">
                    <path d="M15.686 15A14.5 14.5 0 0 1 12 22a14.5 14.5 0 0 1 0-20 10 10 0 1 0 9.542 13" />
                    <path d="M2 12h8.5" />
                    <path d="M20 6V4a2 2 0 1 0-4 0v2" />
                    <rect width="8" height="5" x="14" y="6" rx="1" />
                  </svg>
                </template>
              </span>
              <template x-if="post.headerImage">
                <img class="jinya-blog-tile__img" :src="post.headerImage?.path" :alt="post.headerImage?.name" />
              </template>
            </div>
          </template>
        </div>
      </template>
      <template x-if="posts.length === 0">
        <div class="cosmo-message is--information">
          <span class="cosmo-message__header" x-localize:blog-posts-overview-empty-header></span>
          <p class="cosmo-message__message" x-localize:blog-posts-overview-empty-message></p>
        </div>
      </template>
    </div>
  </div>
  <template x-if="create.open">
    <form class="cosmo-modal__container" @submit.prevent="createPost">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:blog-posts-create-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="create.error.hasError">
            <span class="cosmo-message__header" x-text="create.error.title"></span>
            <p class="cosmo-message__message" x-text="create.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label for="createTitle" class="cosmo-label" x-localize:blog-posts-create-post_title></label>
            <input id="createTitle" required type="text" class="cosmo-input" x-model="create.title" />
            <label for="createSlug" class="cosmo-label" x-localize:blog-posts-create-slug></label>
            <input id="createSlug" required type="text" class="cosmo-input" x-model="create.slug" />
            <span class="cosmo-input__message is--information" x-localize:blog-posts-create-slug_help></span>
            <div style="display: contents">
              <label for="createCategory" class="cosmo-label" x-localize:blog-posts-create-category></label>
              <select id="createCategory" class="cosmo-select" x-model="create.categoryId">
                <option :value="null" x-localize:blog-posts-create-no_category></option>
                <template x-for="category in categories">
                  <option :selected="category.id == create.categoryId" :value="category.id"
                          x-html="getCategoryOptionLabel(category)"></option>
                </template>
              </select>
            </div>
            <label for="createHeaderImage" class="cosmo-label" x-localize:blog-posts-create-header_image></label>
            <button class="cosmo-input is--picker" id="createHeaderImage" :data-picker="create.picker.label"
                    type="button"
                    @click="selectCreateHeaderImage" x-text="create.picker.selected"></button>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" @click="create.open = false"
                  x-localize:blog-posts-create-cancel></button>
          <button type="submit" class="cosmo-button" x-localize:blog-posts-create-create></button>
        </div>
      </div>
    </form>
  </template>
  <template x-if="edit.open">
    <form class="cosmo-modal__container" @submit.prevent="updatePost">
      <div class="cosmo-modal">
        <h1 class="cosmo-modal__title" x-localize:blog-posts-edit-title></h1>
        <div class="cosmo-modal__content">
          <div class="cosmo-message is--negative" x-show="edit.error.hasError">
            <span class="cosmo-message__header" x-text="edit.error.title"></span>
            <p class="cosmo-message__message" x-text="edit.error.message"></p>
          </div>
          <div class="cosmo-input__group">
            <label for="editTitle" class="cosmo-label" x-localize:blog-posts-edit-post_title></label>
            <input id="editTitle" required type="text" class="cosmo-input" x-model="edit.title" />
            <label for="editSlug" class="cosmo-label" x-localize:blog-posts-edit-slug></label>
            <input id="editSlug" required type="text" class="cosmo-input" x-model="edit.slug" />
            <span class="cosmo-input__message is--information" x-localize:blog-posts-edit-slug_help></span>
            <div style="display: contents">
              <label for="editCategory" class="cosmo-label" x-localize:blog-posts-edit-category></label>
              <select id="editCategory" class="cosmo-select" x-model="edit.categoryId">
                <option :value="null" x-localize:blog-posts-edit-no_category></option>
                <template x-for="category in categories">
                  <option :selected="category.id == edit.categoryId" :value="category.id"
                          x-html="getCategoryOptionLabel(category)"></option>
                </template>
              </select>
            </div>
            <label for="editHeaderImage" class="cosmo-label" x-localize:blog-posts-edit-header_image></label>
            <button class="cosmo-input is--picker" id="editHeaderImage" :data-picker="edit.picker.label" type="button"
                    @click="selectEditHeaderImage" x-text="edit.picker.selected"></button>
          </div>
        </div>
        <div class="cosmo-modal__button-bar">
          <button type="button" class="cosmo-button" @click="edit.open = false"
                  x-localize:blog-posts-edit-cancel></button>
          <button type="submit" class="cosmo-button" x-localize:blog-posts-edit-update></button>
        </div>
      </div>
    </form>
  </template>
</div>
