.jinya-designer__content.is--simple-pages {
    grid-template-columns: unset;
    grid-template-rows: [message] auto [tiny] 1fr [buttons] auto;
    display: grid;
}

.jinya-designer__content.is--simple-pages .tox.tox-tinymce {
    grid-row: tiny
}

.cosmo-message.is--simple-pages {
    grid-row: message;
}

.cosmo-button__container.is--simple-pages {
    grid-row: buttons;
}
