:root {
    --selection-color: var(--white);


    @media screen and (prefers-color-scheme: dark) {
        --selection-color: var(--black);
    }
}

.cosmo-side-list__items .cosmo-button.is--full-width {
    position: sticky;
    bottom: 0;
}

.cosmo-button.is--icon:not(.is--circle) {
    width: unset;
    height: unset;
    padding: 0;
    background: var(--white);
    border-color: var(--white);

    &:hover {
        background: var(--white);
        border-color: var(--white);
    }
}

.cosmo-button.is--appendix {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.cosmo-button.is--icon svg,
.jinya-icon {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--button-background);
    height: 1.25rem;
    width: 1.25rem;
}


.cosmo-button.is--icon.is--circle svg {
    stroke: currentcolor;
}

.jinya-icon {
    stroke: currentcolor;

    &.is--negative {
        stroke: var(--negative-color)
    }

    &.is--positive {
        stroke: var(--positive-color)
    }
}

.cosmo-side-list {
    --list-items-width: 16rem;
}

.cosmo-side-list__item.is--tree {
    margin-left: calc(1rem * var(--nesting));
    width: calc(100% - (var(--nesting) * 1rem));
}

.cosmo-button.is--primary.is--disabled {
    cursor: not-allowed;
    filter: var(--button-disabled-filter);
    outline: none;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
        --button-border-color: var(--primary-color);
        --button-background: var(--primary-color);
    }
}
