:root {
    --background: url('/designer/background.webp');
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: url('/designer/background-dark.webp');
    }
}

.is--dark {
    --background: url('/designer/background-dark.webp');
}

.is--light {
    --background: url('/designer/background.webp');
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--background);
    background-size: cover;
    background-position-y: bottom;
}

.jinya-progress {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.cosmo-bottom-bar__item.is--right.is--buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 1rem;
}