.jinya-profile-view {
    height: var(--page-height);
    display: grid;
    grid-template: "sidebar title" auto "sidebar toolbar" auto "sidebar message" auto "sidebar tiny" 1fr "sidebar buttons" auto / 3fr 7fr;
    grid-row: content;
    gap: 1rem;
    box-sizing: border-box;
}

.jinya-profile-view .tox.tox-tinymce {
    grid-row: tiny
}

.jinya-profile__sidebar {
    grid-area: sidebar;
}

.cosmo-title.is--profile {
    grid-area: title;
}

.cosmo-toolbar.is--profile {
    grid-area: toolbar;
}

.cosmo-button__container.is--profile {
    grid-area: buttons;
}

.jinya-profile__picture {
    width: 100%;
    height: auto;
}

.jinya-profile__label {
    display: block;
    width: 100%;
    font-weight: var(--font-weight-bold);
}

.jinya-profile__detail {
    display: block;
    width: 100%;
}

.cosmo-message.is--profile {
    grid-area: message;
}
