.jinya-horizontal-split {
    display: grid;
    grid-template-rows: [top] 1fr [bottom] 1fr;
    min-height: var(--page-height);
    max-height: var(--page-height);
    gap: 1rem;
}

.jinya-code-editor__container {
    display: grid;
    grid-template-rows: [editor] 1fr [button] auto;
    grid-row: top;
}

.jinya-code-editor {
    grid-row: editor;
    height: 100%;
    border: 0.0625rem solid var(--control-border-color);
}

.jinya-code-editor__execute {
    grid-row: button;
}

.cosmo-tab__content.is--query-tool {
    display: grid;
}

.cosmo-tab.is--query-tool {
    height: calc(var(--page-height) / 2);
}

.jinya-code-editor__result {
    grid-row: bottom;
}
