.jinya-designer__content.is--theme {
    grid-template-columns: unset;
    max-height: calc(var(--page-height) - 2.75rem - 2rem - 2rem);
}

.cosmo-side-list__content.is--theme {
    display: grid;
    grid-template-rows: [header] 2.75rem [toolbar] 2rem 2rem [content] 1fr;
}

.cosmo-tab__content.is--details {
    display: grid;
    grid-template-columns: 50rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar toolbar"
        "image description";
    gap: 0.75rem;
}

.jinya-theme-details__preview {
    grid-area: image;
    width: 100%;
    height: auto;
}

.jinya-theme-details__description {
    grid-area: description;
}

.cosmo-tab.is--theme {
    max-height: calc(var(--page-height) - 2.75rem - 2rem - 2rem);
}

.cosmo-tab__content.is--theme {
    max-height: calc(var(--page-height) - 2.75rem - 2rem - 2rem);
}

.cosmo-button__container.is--sticky-bottom {
    position: sticky;
    bottom: 0;
    background: var(--white);
}

.cosmo-toolbar.is--designer {
    grid-area: toolbar;
}