.jinya-designer__content.is--theme {
    grid-template-columns: unset;
    max-height: calc(var(--page-height) - 2.75rem - 2rem - 2rem);
}

.cosmo-side-list__content.is--theme {
    display: grid;
    grid-template-rows: [header] 2.75rem [toolbar] 2rem 2rem [content] 1fr;
}

.cosmo-tab__content.is--details {
    display: grid;
    grid-template-columns: [image] 50rem [description] 1fr;
    gap: 0.75rem;
}

.jinya-theme-details__preview {
    grid-column: image;
    width: 100%;
    height: auto;
}

.jinya-theme-details__description {
    grid-column: description;
}

.cosmo-tab.is--theme {
    max-height: calc(var(--page-height) - 2.75rem - 2rem - 2rem);
}

.cosmo-tab__content.is--theme {
    max-height: calc(100vh - 64px - 80px - 32px - 36px - 20px - 28px - 30px - 28px - 68px - 20px - 10px);
}

.cosmo-button__container.is--sticky-bottom {
    position: sticky;
    bottom: 0;
    background: var(--white);
}