<div class="page" id="{{ group.name }}">
    {% set t_fullname = "#{basefullname}[#{group.name}]" %}
    {% if group.fields is defined %}
        {% for field in group.fields %}
            {% set f_fullname = "#{t_fullname}[#{field.name}]" %}
            {% include '@Designer/theme/field.html.twig' with { 'field': field, 'fullname': f_fullname, 'configuration': attribute(configuration, field.name) } %}
        {% endfor %}
    {% endif %}
    {% if group.groups is defined %}
        {% for group in group.groups %}
            {% set g_fullname = "#{t_fullname}[#{group.name}]" %}
            {% include '@Designer/theme/fieldset_group.html.twig' with { 'fullname': g_fullname, 'group': group, 'configuration': attribute(configuration, group.name) } %}
        {% endfor %}
    {% endif %}
</div>