.form-content {
  @include breakpoint-desktop {
    padding-left: $page-content-padding-left-desktop;
    padding-right: $page-content-padding-right-desktop;
  }

  @include breakpoint-tablet-landscape {
    padding-left: $page-content-padding-left-tablet-landscape;
    padding-right: $page-content-padding-right-tablet-landscape;
  }

  @include breakpoint-tablet-portrait {
    padding-left: $page-content-padding-left-tablet-portrait;
    padding-right: $page-content-padding-right-tablet-portrait;
  }

  @include breakpoint-mobile {
    padding-left: $page-content-padding-left-mobile;
    padding-right: $page-content-padding-right-mobile;
  }

  @include breakpoint-ultra-mobile {
    padding-left: $page-content-padding-left-ultra-mobile;
    padding-right: $page-content-padding-right-ultra-mobile;
    font-size: 1.5rem;
  }
}
