.gallery {
  &.horizontal {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;

    .artwork,
    .video {
      display: inline-block;
      white-space: normal;
      vertical-align: top;
      margin: $gallery-content-figure-margin-top $gallery-content-figure-margin-right $gallery-content-figure-margin-bottom $gallery-content-figure-margin-left;
      width: auto;
    }

    .artwork {
      > a {
        display: inline;
        width: auto;

        > img {
          width: auto;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    .artwork,
    .video {
      width: 100%;
    }
  }
}

@include breakpoint-ultra-mobile {
  .gallery {
    position: relative;
    overflow-y: auto;

    &.horizontal {
      padding-top: $gallery-margin-top-ultra-mobile;
      padding-left: $gallery-content-padding-left-ultra-mobile;
      padding-right: $gallery-content-padding-right-ultra-mobile;

      margin-left: $gallery-content-margin-left-ultra-mobile;
      margin-right: $gallery-content-margin-right-ultra-mobile;

      white-space: normal;
      overflow-y: auto;

      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }

      .artwork {
        > a {
          > img {
            height: auto;
            width: 100%;
          }
        }
      }

      .video {
        iframe {
          height: 56.25%;
          width: 100%;
        }

        video {
          width: 100%;
          height: auto;
        }
      }
    }

    &.vertical {
      height: 100%;

      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }
    }
  }
}

@include breakpoint-mobile {
  .gallery {
    padding-left: $gallery-content-padding-left-mobile;
    padding-right: $gallery-content-padding-right-mobile;

    margin-left: $gallery-content-margin-left-mobile;
    margin-right: $gallery-content-margin-right-mobile;

    &.horizontal {
      .artwork,
      .video {
        width: $gallery-content-figure-width-mobile;
        max-height: 100%;
      }

      .artwork {
        > a {
          > img {
            height: $gallery-content-figure-height-mobile;
          }
        }
      }

      .video {
        iframe {
          height: $gallery-content-figure-height-mobile;
          width: calc(16 / 9 * #{$gallery-content-figure-height-mobile});
        }

        video {
          height: $gallery-content-figure-height-mobile;
        }
      }
    }

    &.vertical {
      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }
    }
  }
}

@include breakpoint-tablet-portrait {
  .gallery {
    padding-left: $gallery-content-padding-left-tablet-portrait;
    padding-right: $gallery-content-padding-right-tablet-portrait;

    margin-left: $gallery-content-margin-left-tablet-portrait;
    margin-right: $gallery-content-margin-right-tablet-portrait;

    &.horizontal {
      .artwork,
      .video {
        width: $gallery-content-figure-width-tablet-portrait;
        max-height: 100%;
      }

      .artwork {
        > a {
          > img {
            height: $gallery-content-figure-height-tablet-portrait;
          }
        }
      }

      .video {
        iframe {
          height: $gallery-content-figure-height-tablet-portrait;
          width: calc(16 / 9 * #{$gallery-content-figure-height-tablet-portrait});
        }

        video {
          height: $gallery-content-figure-height-tablet-portrait;
        }
      }
    }

    &.vertical {
      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }
    }
  }
}

@include breakpoint-tablet-landscape {
  .gallery {
    padding-left: $gallery-content-padding-left-tablet-landscape;
    padding-right: $gallery-content-padding-right-tablet-landscape;

    margin-left: $gallery-content-margin-left-tablet-landscape;
    margin-right: $gallery-content-margin-right-tablet-landscape;

    &.horizontal {
      .artwork,
      .video {
        width: $gallery-content-figure-width-tablet-landscape;
        max-height: 100%;
      }

      .artwork {
        > a {
          > img {
            height: $gallery-content-figure-height-tablet-landscape;
          }
        }
      }

      .video {
        iframe {
          height: $gallery-content-figure-height-tablet-landscape;
          width: calc(16 / 9 * #{$gallery-content-figure-height-tablet-landscape});
        }

        video {
          height: $gallery-content-figure-height-tablet-landscape;
        }
      }
    }

    &.vertical {
      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }
    }
  }
}

@include breakpoint-desktop {
  .gallery {
    padding-left: $gallery-content-padding-left-desktop;
    padding-right: $gallery-content-padding-right-desktop;

    margin-left: $gallery-content-margin-left-desktop;
    margin-right: $gallery-content-margin-right-desktop;

    &.horizontal {
      .artwork,
      .video {
        max-height: 100%;
      }

      .artwork {
        > a {
          > img {
            height: $gallery-content-figure-height-desktop;
          }
        }
      }

      .video {
        iframe {
          height: $gallery-content-figure-height-desktop;
          width: calc(16 / 9 * #{$gallery-content-figure-height-desktop});
        }

        video {
          height: $gallery-content-figure-height-desktop;
        }
      }
    }

    &.vertical {
      .artwork,
      .video {
        display: block;
        vertical-align: initial;
        margin: 0;
      }
    }
  }
}