.menu {
  position: fixed;
  max-height: calc(100vh - #{$menu-margin-top});
  background: $menu-background-color;
  border-radius: $menu-border-radius;
  color: $menu-text-color;
  left: $menu-margin-left;
  top: $menu-margin-top;
  width: $menu-width;
  overflow-y: auto;
  z-index: 9999;
  overflow-x: hidden;
  font-family: $menu-font-family;

  .close {
    display: none;
  }

  .logo {
    img {
      width: $menu-logo-size;
      margin: $menu-logo-margin;
      opacity: $menu-logo-opacity;
    }
  }
  .title {
    font-weight: normal;
    padding: $menu-title-padding;
  }
  > ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
      padding: 0;

      a {
        padding-left: $menu-item-padding-left;
      }
    }
  }
  ul {
    list-style: none;

    &:hover li {
      a,
      a.active {
        @if $menu-enable-blurr {
          @include menu-blurred();
        } @else {          
          @include menu-item-hover-background-gradient();
        }
      }
    }

    a {
      display: block;
      @if ($menu-item-uppercase) {
        text-transform: uppercase;
      }
      text-decoration: none;
      color: $primary;
      padding: $menu-item-link-padding;
      background: $menu-item-link-background;
      letter-spacing: $menu-item-link-letter-spacing;
      transition: all 0.4s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      padding: 0;

      &.active,
      &:target {
        > ul {
          display: block;
        }
      }

      &.highlight {
        font-weight: $menu-item-highlighted-font-weight;
        font-size: $menu-item-highlighted-font-size;
        font-style: $menu-item-highlighted-font-style;
        font-family: $menu-item-highlighted-font-family;

        li:not(.highlight) {
          font-weight: normal;
          font-size: 1rem;
        }
      }

      a {
        background: transparent;

        &.active {
          @include menu-item-hover-background-gradient();

          &:hover {
            @include menu-unblurred();
          }
        }

        &:hover {
          @include menu-unblurred();
        }
      }

      > ul {
        list-style: none;
        display: none;
      }
    }
  }
}

.menu-bar {
  display: none;
}

@include breakpoint-ultra-mobile {
  body {
    padding-top: 6em;
  }

  .menu {
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, z-index 0.3s;
    font-size: 150%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    max-height: 100%;

    .logo {
      text-align: center;
      display: block;
    }

    ul {
      li {
        font-size: 100%;

        &.highlight {
          font-size: calc(1em + 50%);

          li {
            &:not(.highlight) {
              font-size: 60%;
            }
          }
        }

        ul {
          display: block;
        }
      }
    }

    .close {
      position: fixed;
      top: $menu-ultra-mobile-close-button-top;
      right: $menu-ultra-mobile-close-button-right;
      text-decoration: none;
      color: $menu-ultra-mobile-close-button-color;
      display: block;

      &:after {
        content: $menu-ultra-mobile-close-button-icon-glyph;
        font-size: $menu-ultra-mobile-close-button-icon-size;
        font-family: $menu-ultra-mobile-close-button-icon-font;
      }
    }

    &:target {
      opacity: 1;
      z-index: 9999;
      transition: opacity 0.3s;
    }

  }

  .menu-bar {
    display: block;
    height: $menu-ultra-mobile-menu-bar-height;
    width: 100%;
    background: $primary;
    position: fixed;
    top: 0;

    .burger {
      position: fixed;
      top: $menu-ultra-mobile-menu-bar-hamburger-top;
      right: $menu-ultra-mobile-menu-bar-hamburger-right;

      span {
        display: block;
        width: $menu-ultra-mobile-menu-bar-hamburger-bar-width;
        height: $menu-ultra-mobile-menu-bar-hamburger-bar-height;
        margin-bottom: $menu-ultra-mobile-menu-bar-hamburger-bar-margin-bottom;
        position: relative;

        background: $menu-ultra-mobile-claim-color;
        border-radius: 3px;
      }
    }

    .claim {
      font-size: $menu-ultra-mobile-claim-font-size;
      text-align: center;
      width: 100%;
      text-decoration: none;
      color: $menu-ultra-mobile-claim-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $menu-ultra-mobile-claim-font-family;
      display: block;
    }

    img {
      height: $menu-ultra-mobile-menu-bar-logo-height;
      margin: $menu-ultra-mobile-menu-bar-logo-margin;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

}

@include breakpoint-mobile {
  .menu {
    left: $menu-margin-left-mobile;
    top: $menu-margin-top-mobile;
  }
}

@include breakpoint-tablet-portrait {
  .menu {
    left: $menu-margin-left-tablet-portrait;
    top: $menu-margin-top-tablet-portrait;
  }
}