.page {
  font-family: $page-font-family;
  height: 100%;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-family: $page-font-family-heading1;
  }
  h2 {
    font-family: $page-font-family-heading2;
  }
  h3 {
    font-family: $page-font-family-heading3;
  }
  h4 {
    font-family: $page-font-family-heading4;
  }
  h5 {
    font-family: $page-font-family-heading5;
  }
  h6 {
    font-family: $page-font-family-heading6;
  }

  .ql-video {
    width: 100%;
    height: 59%;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  @include breakpoint-desktop {
    padding-left: $page-content-margin-left-desktop;
    padding-right: $page-content-margin-right-desktop;
  }

  @include breakpoint-tablet-landscape {
    padding-left: $page-content-margin-left-tablet-landscape;
    padding-right: $page-content-margin-right-tablet-landscape;
  }

  @include breakpoint-tablet-portrait {
    padding-left: $page-content-margin-left-tablet-portrait;
    padding-right: $page-content-margin-right-tablet-portrait;
  }

  @include breakpoint-mobile {
    padding-left: $page-content-margin-left-mobile;
    padding-right: $page-content-margin-right-mobile;
  }

  @include breakpoint-ultra-mobile {
    padding-left: $page-content-margin-left-ultra-mobile;
    padding-right: $page-content-margin-right-ultra-mobile;
  }
}
