.social-bar {
  margin-top: $menu-social-bar-margin-top;
  padding: $menu-social-bar-padding;
  background: pastelize($primary-lighter);
  text-align: center;

  a {
    text-decoration: none;

    a:hover {
      text-decoration: none;
    }
  }

  .social-icon {
    width: 2em;
    height: 2em;

    &.artstation {
      svg {
        fill: pastelize($social-icon-artstation-color);
      }
    }
    &.facebook {
      svg {
        fill: pastelize($social-icon-facebook-color);
      }
    }
    &.twitter {
      svg {
        fill: pastelize($social-icon-twitter-color);
      }
    }
    &.deviantart {
      svg {
        fill: pastelize($social-icon-deviant-art-color);
      }
    }
    &.patreon {
      svg {
        margin: 4px;
        fill: pastelize($social-icon-patreon-color);
      }
    }
    &.pinterest {
      svg {
        fill: pastelize($social-icon-pinterest-color);
      }
    }
    &.tumblr {
      svg {
        fill: pastelize($social-icon-tumblr-color);
      }
    }
    &.youtube {
      svg {
        fill: pastelize($social-icon-youtube-color);
      }
    }
    &.instagram {
      svg {
        fill: pastelize($social-icon-instagram-color);
      }
    }
  }
}